[2017-11-21 05:01] lihaoyi opened #1 "Avoid printing Running message for Targets skipped due to upstream failures"

[2017-11-21 05:01] lihaoyi opened #2 "Flesh out Mill build for com.lihaoyi:acyclic as an integration test for mill.scalaplugin"

[2017-11-21 05:03] lihaoyi opened #3 "Implement shell-script-prepending to allow self-executable ScalaModule.assembly"

[2017-11-21 16:21] lihaoyi opened #4 "Extract Target-selection logic out of Main and write some unit tests"
https://github.com/lihaoyi/mill/blob/1382e27191e662da2be0ec904c6266c7f21bc68d/core/src/main/scala/mill/Main.scala#L25-L112
This is currently a bit messy, but the logic is complex enough (with enough error conditions) that it deserves some proper testing.

Cross-building with `mill Core.cross[a].printIt` works, but `mill Core.cross[doesntExist].printIt` fails with an ugly exception, and it would be

[2017-11-21 16:39] lihaoyi opened #5 "Sonatype PublishSigned support?"
One of the major things Mill is currently missing is the ability to publishSigned artifacts (along with source jars, etc.) to Maven central.

We already have the ability to create Jars, e.g. `mill run ScalaPlugin.assembly`. https://github.com/lihaoyi/mill/issues/3 will allow us to make them executable. The last step is to let us publish them to some artifact repository: Maven Central, Bintray, etc

[2017-11-22 02:33] lihaoyi opened #6 "Incremental Scala compile with Zinc isn't working right"
To repro:

[code]

The last command will run into a bunch of compile errors, when it should compile successfully

[2017-11-22 03:24] lihaoyi opened #7 "Bust caches when Mill classpath changes"
Currently we bust caches every time the inputs of a Target group change: only if the inputs change do we consider the output change able to change, and thus the Target group needing to recompute.

This is insufficient: if the Target group's implementation itself changes, the output could change, and the Target should recompute. There is no way to account for this at a fine-grained level, but we ca

[2017-11-22 03:28] lihaoyi opened #8 "Write a minimal unit test for scalaplugin/"
https://github.com/lihaoyi/mill/issues/2 will be an integration test for the module, but we really should have a truly "hello world" unit test that exercises it's functionality in as little code/complexity as possible.

Once we have unit tests, we can start adding more functionality to the `scalaplugin/` package, which we currently cannot do since testing it is manual and annoying. e.g. `TestModul

[2017-11-22 03:50] lihaoyi opened #9 "Write a `TestScalaModule` class to make it easier to specify test suites"
Currently specifying a test suite is kind of annoying
[code]

`TestScalaModule` would encapsulate all the standard stuff into

[code]

[2017-11-23 18:05] lihaoyi opened #12 "Code-generate .zipMap functions to support Applicative macro"
Currently, these are [defined manually](https://github.com/lihaoyi/mill/blob/15ce6dc4c5f2650a5d79143577dccefe1efe8221/core/src/main/scala/mill/define/Applicative.scala#L29-L50), up to a maximum arity of 7. That means a `T{...}` call can only depend on up to 7 other tasks: an arbitrary limitation.

We should use source-code-generation to generate the `zipMap` functions up to the "standard" arity of

[2017-11-23 22:39] #1 closed, assigned to rockjam

[2017-11-24 16:33] lihaoyi opened #14 "Enable com.lihaoyi::acyclic plugin in our build.sc file"
This would help bring it up to parity with our build.sbt. This would probably need changes to `ScalaModule` in order to let it support Scala compiler plugins and compiler flags

[2017-11-24 21:31] rockjam opened #16 "Set up CI infrastructure"
Sooner or later, we'll need a CI for mill. We could start it sooner, to have more confidence when merging PR's

[2017-11-25 20:21] #4 closed, assigned to andreaTP

[2017-11-25 20:44] lihaoyi opened #17 "Scala.js Support"
This would be necessary to support play-json and uTest, as part of our [release criteria](https://github.com/lihaoyi/mill#release-criteria).

[2017-11-26 01:05] lihaoyi opened #19 "Support long-lived worker processes"
Currently, Mill builds are stateless: build results are persisted to disk, but all in-memory state lives on the call-stack of `evaluate`, and is discarded after every run.

There is a large class of build tooling that works better with long-lived worker processes. A Scala Zinc compile daemon which can keep the JVM hot & fast is one example, but there are countless others: Javascript bundlers e.g.

[2017-11-26 01:06] #9 closed, assigned to lihaoyi

[2017-11-26 02:12] #3 closed, assigned to atduarte

[2017-11-26 14:59] #6 closed, assigned to rockjam

[2017-11-26 18:31] #7 closed, assigned to nobody

[2017-11-26 19:00] lihaoyi opened #27 "Support forked execution for ScalaModule#run and TestScalaModule#test"
Currently, `ScalaModule#run` runs in a subprocess and `TestScalaModule#test` runs in-process in a Classloader. This is arbitrary and inconsistent

We should standardize on a way to let either method run either subprocessed or in-process, and make this available to the user of Mill if they want to run any arbitrary JVM classpath as part of any task.

[2017-11-26 21:18] dragos opened #29 "Pass analysis of dependent projects to Zinc"
Zinc needs a `lookup` implementation that maps directories on the classpath to an `Analysis` object. This allows Zinc to "know" when to recompile sources when they depend on other sub-projects in the build. Right now, dependent projects would always be recompiled, regardless of what changed or not. See [eclipse implementation]( https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.c

[2017-11-27 01:54] lihaoyi opened #31 "More flexible query language for running multiple tasks"
Currently running multiple tasks in Mill is a bit of a pain:

[code]

Even though the second task will benefit from caching of the first, the tasks run sequentially. Mill's execution engine is actually happy to evaluate multiple tasks in parallel, we just need to expose it to the user.

uTest has a similar problem (users want to select multiple paths of tests to run) and allows syntax like:

[code

[2017-11-27 03:47] lihaoyi opened #32 "Parallel Task Evaluation"
The current `Evaluator` is sequential: tasks are evaluated one by one in a linear topological order.

Because we have the dependency graph between tasks, it should be straightforward to implement a parallel evaluator that evaluates tasks N-ways parallel. This would not require any change to the user-code implementing tasks and targets.

Open questions include how such a parallel evaluator will fit

[2017-11-28 04:18] #8 closed, assigned to rockjam

[2017-11-30 03:55] lihaoyi opened #36 "Cross-compiling across minor versions of Scala is broken"
Apply this patch:

[code]

Run the test:

[code]

See it blow up:
[code]

[2017-11-30 03:58] lihaoyi opened #37 "Support for downloading & caching a binary as part of a build"
Necessary to fully support the better-files build

- https://github.com/lihaoyi/mill/blob/master/scalaplugin/src/test/scala/mill/scalaplugin/BetterFilesTests.scala#L91

Generally useful for all sorts of other things too.

We probably can just ignore the problem of expiration: once the file is downloaded, we keep it forever unless someone explicitly deletes it.

This is basically already the behavi

[2017-12-06 18:55] lihaoyi opened #39 "Log task output to files"
Currently, every task Ctx exposes a logger, and we also capture stdout/stderr from task body evaluation and push it through the logger. This is useful for e.g. running Mill evaluations silently in unit tests, to avoid logspam

We should also log the output related to each task to a log file. Each task `foo.bar` already has a `out/foo/bar` folder to use for output files and `out/foo/bar.mill.json`

[2017-12-07 01:46] #36 closed, assigned to nobody

[2017-12-07 01:47] #2 closed, assigned to lihaoyi

[2017-12-07 05:38] lihaoyi opened #42 "Create a "release" artifact that is configured to pull necessary jars from Ivy/Maven"
Currently, Mill depends on a number of `compiler-bridge` jars which are created as part of the Mill build. Both `sbt scalaplugin/test` and the executable generated by `sbt scalaplugin/test:assembly` reference these jars, by hard-coding their absolute paths on disk. Thus the executable built by `sbt scalaplugin/test:assembly` would only work on the same computer you ran the SBT command on. The numb

[2017-12-07 18:06] #29 closed, assigned to rockjam

[2017-12-08 15:47] #14 closed, assigned to triggerNZ

[2017-12-08 22:05] rockjam opened #46 "bug: console is not working"
The new definition of `mill.modules.Jvm.subprocess` doesn't seem to work with interactive processes like scala console.  Old way to run subprocess seems to work fine:

[code]

If we are okay with two implementations, here is the fix

[2017-12-09 04:11] lihaoyi opened #47 "Tighten up Ammonite script integration"
Currently, the integration with Ammonite is pretty hacky and fragile. e.g. compile errors in `build.sc` files are treated badly:

[code]

Ammonite's own CLI script-running functionality is rock solid, even in failure cases. We should make sure Mill's is of similar quality: informative error messages, no uncaught stack traces, and well-behaved in all cases including things like watch-&-rerun.

[2017-12-09 04:16] lihaoyi opened #48 "Build REPL"
Since we are using Ammonite to run `build.sc` scripts, it shouldn't be a stretch to also use Ammonite as the build REPL: to keep Mill alive and run multiple commands with a warm JVM, and possibly to inspect and query the build programmatically.

I'd like to be able to build targets using the Build REPL the same way you can refer to in `build.sc` files:

[code]

Where `()` forces the target to be b

[2017-12-09 04:45] lihaoyi opened #49 "Add an SbtScalaModule for easy migration from SBT project layouts"
Currently, `ScalaModule` is a bit low-level: it defaults to your Scala code being in `src/` (which differs from SBT's convention of `src/main/scala/`) and you need to wire up a `val test = new Tests` suite yourself.

While I think there's value in providing a "simpler" `ScalaModule` without the decades of SBT/Maven/Ivy baggage, we should also provide a `SbtScalaModule` to ease the conversion of pr

[2017-12-09 04:59] lihaoyi opened #50 "Build Gitbucket using Mill"
https://github.com/gitbucket/gitbucket seems like a nice project to shoot for: an open source *application* (rather than a library), but a relatively simple one with a relatively simple build (v.s. something like https://github.com/ornicar/lila which has a bajillion submodules), that uses some SBT plugins but not too many.

We should write a Mill build for Gitbucket, both to stretch Mill's capabil

[2017-12-09 05:09] lihaoyi opened #51 "Write unit tests for GenIdea"
This is pretty fragile code that is reasonably entangled with ScalaModule's internals, and has broken in the past. We should have at least a simple unit test that does `GenIdea` on a trivial build and checks the output against some hardcoded XML files, just to avoid accidental regressions and breakage

[2017-12-09 14:43] #46 closed, assigned to nobody

[2017-12-10 22:46] #49 closed, assigned to nobody

[2017-12-10 23:54] #47 closed, assigned to nobody

[2017-12-11 03:21] #48 closed, assigned to nobody

[2017-12-11 15:54] #39 closed, assigned to ilya-murzinov

[2017-12-11 16:25] #42 closed, assigned to rtimush

[2017-12-11 16:56] lihaoyi opened #56 "Add nice prettyprints/toString for the Build REPL"
Currently, the toStrings you get inspecting tasks/modules in the REPL is pretty bare:

[code]

While you can poke around with autocomplete or `typeOf(build).members`, it would be nice to hook into Ammonite's pretty-printer and use it to show nicer output at the REPL:

[code]

This can be done by hooking into the Ammonite REPL pretty-printer:

[code]

We can make use of the `Discovered` mirror with

[2017-12-12 04:45] lihaoyi opened #57 "Implement `eval` function to let user build multiple targets in the REPL"
Currently, you can only select one target at a time:

[code]

Mill's `evaluate` function already lets you select a `Vector` of `Task`s you want to build. We should expose that to the user in the REPL:

[code]

[2017-12-12 04:47] lihaoyi opened #58 "Watch & re-run functionality in the REPL"
You currently can use Ammonite's `--watch` flag to watch & re-run targets from the Bash shell. When used to run the REPL, `--watch` only serves to re-start the REPL if you exited it after making changes.

We should provide a `watch(Core.compile)` function that can be used to watch & re-run a one ([or more](https://github.com/lihaoyi/mill/issues/57)) targets from Build REPL

[2017-12-12 15:55] rtimush opened #59 "Idea task should not depend on compilation success"
It was a common problem in the days of `sbt-idea` and now we have the same issue in Mill — `idea` task depends on the compilation results, so if my code is broken I cannot import a project into IDEA to fix it.

[2017-12-12 17:01] lihaoyi opened #61 "Commands should be given a `dest` directory"
Currently `T.ctx().dest` only works for labelled `Target`s, which are publicly accessible. `Task`s (which don't have a label) and overriden `Target`s are not given `dest` directories, because it's not clear what path that `dest` directory would have.

Currently, `Command`s do not have a `dest` directory. Given that the `Command`s do have a unique path by which they are run, they too should have a

[2017-12-12 17:10] lihaoyi opened #62 "Only one `Task` in a group should be allowed to use the `T.ctx().dest` directory"
`Task`s are grouped together under their downstream `Target` before running, and every `Task` in that group has the same `T.ctx().dest` which is defined by the path to the downstream `Target`. Currently there is nothing stopping multiple `Task`s from reading/writing from `dest`, which could allow for unintended interference between them.

We should fail with an error if more than one `Task` attemp

[2017-12-12 17:21] lihaoyi opened #63 "Task Sandboxing"
Bazel restricts tasks being run to their given work directory: using [sandbox-exec](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/sandbox-exec.1.html) on OS-X, and [LXC Containers](https://en.wikipedia.org/wiki/LXC) on Linux. This is extremely useful to ensure that

- Badly-configured builds don't "accidentally" pass due to stale state lying around the fil

[2017-12-12 17:24] lihaoyi opened #64 "Get rid of uPickle"
Ammonite uses it, and we use it too for convenience, but it's basically unmaintained and should go away.

I tried using play-json for a while but that added a non-trivial amount of startup time (200-300ms?) just from classloading Jackson, which for some reason is a *lot* of classfiles.

The correct thing to do is probably to strip out all the gnarly recursive-implicit-derivation part of uPickle (w

[2017-12-12 23:15] rockjam opened #65 "Changes in build don't invalidate caches"
Minimal reproducible:

[code]

now change circe version to 0.9999.0 and run `mill run Invalidate.run` once again.
Expected behavior: mill should invalidate build caches and fail at resolving/compilation.
Actual behavior: build ran as the previous one

If you `rm -rf out` and run `mill run Invalidate.run` once again - you'll get error at compilation

[2017-12-13 19:07] #65 closed, assigned to lihaoyi

[2017-12-15 04:08] #19 closed, assigned to lihaoyi

[2017-12-17 05:52] #64 closed, assigned to nobody

[2017-12-17 11:36] rockjam opened #69 "Dependencies resolution doesn't fail when artifact not found."
When dependency not found - for example, such version doesn't exist, or we don't have right resolver - dependency resolution doesn't fail, and we get error at compile time with error message like:
[code]

[2017-12-18 08:01] #59 closed, assigned to nobody

[2017-12-19 03:19] gavares opened #73 "Create simple task that downloads and caches dependencies"
Currently, forcing a mill to update dependencies requires the user to execute a task named `externalCompileDepClasspath` which is hard to remember and hard to type.

Similar to sbt's `update`, we need to create a simply named task that forces dependency resolution.
Suggestions
* update
* resolve
* deps

[2017-12-19 03:57] #69 closed, assigned to gavares

[2017-12-19 19:20] lihaoyi opened #75 "Investigate Mill vs SBT performance"
My own subjective feeling is that Mill is slower at the watch-edit-recompile-test workflow than SBT is. Previously this was largely due to Mill not keeping around warm copies of Scalac, but that should have been fixed already. Another point is that Mill doesn't currently run independent tasks in parallel, while SBT does.

This task is to investigate the relative performance of Mill vs SBT at the c

[2017-12-19 22:17] #5 closed, assigned to rockjam

[2017-12-20 00:25] lihaoyi opened #77 "Allow other kinds of input tasks which recompute every time"
Currently, of all `Tasks`, only `T.source` has a non-constant `sideHash` that forces it to re-evaluate whenever the contents of the filesystem path it represents changes. This is necessary because otherwise, a `Task` with no inputs will never get re-evaluated.

We should generalize this to allow other non-filesystem-related `Task`s to force re-evaluation every time: use cases include `Task`s that

[2017-12-28 13:52] #12 closed, assigned to duncanmak

[2017-12-28 19:19] hepin1989 opened #84 "mill's standalone standalone executable jar should support run with Windows' CMD."
![image](https://user-images.githubusercontent.com/501740/34420932-42d91016-ec47-11e7-94ed-859cb64ac8fb.png)

[2017-12-29 20:36] rtimush opened #86 "Overridden tasks that use super value are not cached"
If a task overrides one from a super trait and uses the base value, the caching is broken:
[code]
Here is the test case: https://github.com/lihaoyi/mill/compare/task-override

[2017-12-29 21:23] #17 closed, assigned to rtimush

[2017-12-30 06:47] #86 closed, assigned to nobody

[2017-12-31 00:26] lihaoyi opened #88 "`mill.Module`s should have a default `basePath`"
e.g. `Core`'s should default to `Core/` (or maybe `core/`?), `bridges[2.10.6]` should default to `bridges/2.10.6/`, and so on.

This can be used to automatically have e.g. `ScalaModule` pick up sources in the right place, rather than having to specify the `basePath` manually each time. For now `Module`s would be able to continue picking up sources outside the `basePath`, but this at least let's pe

[2017-12-31 02:14] #61 closed, assigned to nobody

[2017-12-31 09:32] #77 closed, assigned to tpolecat

[2017-12-31 11:09] #57 closed, assigned to nobody

[2018-01-01 02:09] lihaoyi commented on #16
Now that the repo is public, we should make this happen. There is already a `test.sh` script we can use that runs through the common SBT/bootstrapped workflows and makes sure everything works

[2018-01-01 05:05] duncanmak commented on #58
@lihaoyi Now that @rockjam has implemented #57, should I follow suit and generate a watch function in the REPL context?

I'll have to find out how Ammonite's `--watch` flag is wired up, and invoke that directly.

[2018-01-01 05:23] lihaoyi commented on #58
@duncanmak yeah that seems reasonable, feel free to assign this to yourself if you work on it

[2018-01-01 16:55] dos65 opened #93 "Watch mode doesn't handle new files"
Currently  `watch` mode (`mill --watch proj.compile `) reacts only on changes from existed at startup moment files.
At least it should react on file creation. I'm not sure about removing, maybe there are some inotify limitations (comparing to sbt - it reacts on new files, but ignore removing)

[2018-01-01 17:58] lihaoyi opened #94 "Figure out some formal logging policy"
Our logging right now is a bit of a mess, we need to answer:

- How do we remove the verbosity of things like `Running Core.test.upstreamCompileOutput`, which hardly ever do any work?

- What goes to `stdout` and what goes to `stderr`?

- Where does `--show` fit into this, since a user calling `--show` is likely to want to capture the result as a clean JSON blob without all the misc log spam?

Amm

[2018-01-01 18:01] lihaoyi commented on #73
Closing due to inactivity

[2018-01-01 18:01] #73 closed

[2018-01-01 18:38] lihaoyi commented on #93
We use a while-loop `stat`ing files and listing folders in a loop, so there's no reason we shouldn't be able to react to any and all changes

[2018-01-01 19:10] hepin1989 opened #96 "enable scalafix and scalafmt"
I think with scala fix and scalafmt we will have a more clean codebase.

[2018-01-01 20:06] alexarchambault commented on #27
Now that mill is public, I donn't mind if anyone want to take a cut at that…

[2018-01-01 20:08] alexarchambault commented on #27
(I don't think I didn't remove the assignment myself, but that doesn't matter…)

[2018-01-01 20:31] piotrkwiecinski commented on #16
I should be able to help with setting up travis.

[2018-01-01 20:50] rockjam commented on #16
@piotrkwiecinski There is one issue that needs to be fixed to CI work correctly. `mill` doesn't return non-zero return code when the command fails. @lihaoyi Is it correct?

[2018-01-01 21:22] rockjam commented on #16
It should be fixed in this PR https://github.com/lihaoyi/mill/pull/97

[2018-01-02 04:30] lihaoyi opened #99 "ScalaTest tests do not appear to be running"
[code]
[code]

We should figure out why and get it running

[2018-01-02 13:18] rockjam commented on #31
@lihaoyi do we want to allow syntax like this to run tasks `outer.inner1.compile` and `outer.inner2.compile`
`mill outer.{inner1, inner2}.compile`

[2018-01-02 13:21] rockjam commented on #31
Regarding syntax to run all tasks ending with `.test` we could use underscore instead of *. It will be
[code]
what do you think?

[2018-01-02 16:11] duncanmak commented on #62
@hepin1989 @lihaoyi is this still open?

[2018-01-02 16:18] lihaoyi commented on #31
Yeah `mill outer.{inner1, inner2}.compile` seems reasonable. Using `_` for `_.test` seems like a good idea as well

[2018-01-02 17:58] lihaoyi commented on #93
I am unable to reproduce this. `sbt "~bin/test:run --watch core.compile"` seems to correctly pick up the creation of new `foo.scala` files within the `core/src/main/scala/mill` folder

[2018-01-02 18:15] dos65 commented on #93
You right - I can't reproduce it too now. Maybe there were some changes from yesterday

[2018-01-02 18:15] #93 closed

[2018-01-02 18:45] lihaoyi commented on #93
I bumped into a bug with `--watch` not properly handling changes in `build.sc` if a watch-rerun triggers while `build.sc` did not changed, will push a fix after `test.sh` finishes

[2018-01-02 22:39] rtimush opened #102 "Scala.js testing framework support"
Tests for ScalaJSModule should be executed with JavaScript engine. We probably don't need to support all JavaScript engines available in SBT, but having DOM support looks like a necessity.

[2018-01-03 01:01] lihaoyi commented on #102
I think hardcoding support for Node.js would be a good first start

[2018-01-03 01:58] lihaoyi opened #103 "Enable just-in-time compilation of compiler-bridge"
The Zinc incremental compiler requires versions of `org.scala-sbt::compiler-bridge` compiled for exactly the `scala-compiler` version you are using. Currently we pre-compile a few versions of `compiler-bridge` in our own build and use those, but we don't pre-compile all the publicly released versions (because it would take very long...) and we can't have pre-compiled versions for snapshots or othe

[2018-01-03 02:05] lihaoyi commented on #103
One open question is just where we will cache the compiled `compile-bridge` classfiles. It really should be shared between all `scalalib.Modules` with the same `scalaVersion`; SBT even shares it across projects.

Mill doesn't currently have a principled mechanism for sharing caches across projects; we might need to come up with one

[2018-01-03 14:41] mdedetrich commented on #32
To satisfy this problem, you can supply hints to certain tasks about how many cores they can use so they behave greedily. I agree that generally this is a difficult problem, its actually one of the things that `ExecutionContext` in `Future` is designed to solve, i.e assuming we have a machine with 4 cores

*  for a chain of computations that represent the "compile" task for Scalac, I wan't to supp

[2018-01-04 05:01] lihaoyi commented on #56
Closed by 3d0b4b2591b6ea812bd15ab4b82ab004ed9d2138

<img width="829" alt="screenshot 2018-01-03 21 00 31" src="https://user-images.githubusercontent.com/934140/34550871-373108be-f0c9-11e7-9085-7ce10e35776d.png">

[2018-01-04 05:01] #56 closed

[2018-01-04 15:02] rockjam commented on #56
@lihaoyi is this line needed? https://github.com/lihaoyi/mill/commit/3d0b4b2591b6ea812bd15ab4b82ab004ed9d2138#diff-6f6f3501afe6f63edc6817acdcbc32bfR79

[2018-01-04 16:41] lihaoyi commented on #56
@rockjam probably not, just leftover dirt from my messing around

[2018-01-04 20:36] erikvanoosten opened #105 "Use coursier instead of ivy"
Rationale: life is too short to wait for the internet to download.

[2018-01-04 22:28] rtimush commented on #105
I think coursier is already used everywhere in mill

[2018-01-04 22:48] rockjam commented on #105
@erikvanoosten yep, coursier is already used to resolve deps in mill: https://github.com/lihaoyi/mill/blob/master/scalalib/src/main/scala/mill/scalalib/Lib.scala#L171 here it is

[2018-01-05 02:13] #105 closed

[2018-01-05 07:48] erikvanoosten commented on #105
Awesome! I'll read the documentation again to find out why I though Ivy was used.

[2018-01-05 08:45] erikvanoosten commented on #105
I see now. The repl example in the README.md has this fragment:

[code]

[2018-01-05 12:18] sjrd commented on #102
If you reuse the `JSEnv` API that ships in [the `scalajs-env` artifact](https://www.scala-js.org/api/scalajs-js-envs/1.0.0-M2/org/scalajs/jsenv/index.html) that we publish, you can immediately use all the same JS engines that sbt-scalajs supports.

Even better, since you seem to be using the `sbt.testing._` API to run tests on the JVM, you can directly reuse our [test adapter](https://www.scala-js

[2018-01-05 13:34] #99 closed

[2018-01-06 06:04] lihaoyi commented on #94
Fixed by fb68da0e6803f2f8eb948515672bd2297aaa1709 and dd16d55e95e5cc21c102fe49b4cf0e727261fedf

[2018-01-06 06:04] #94 closed

[2018-01-06 15:02] rockjam opened #106 "Too many open files on repeated test run"
While running tests from build REPL multiple times I got `Too many open files` error.
It also happens when running tests in `--watch` mode

[code]

[2018-01-07 08:24] lihaoyi commented on #88
https://github.com/lihaoyi/mill/commit/7cd18fd936b95410274be031a8231e5a3d9866a4 introduces a `def basePath: ammonite.ops.Path` property that should get set correctly as long as you pay a bit of attention (only extend `mill.Module` from `trait`s, or `class`es that take an implicit `Module.Ctx`). I used this in our build/integration-tests to remove a bunch of explicit `basePath` declarations, althou

[2018-01-07 08:24] #88 closed

[2018-01-07 12:31] pleira commented on #50
The gitbucket build has several parts. I think the part related to the generation of Twirl / Play could be handled as a first step and should be merged separately into master. And the same be done for the Scalatra part. What do you thing?

[2018-01-07 14:22] lihaoyi commented on #50
This will happen in whatever order whoever doing the work wishes it to be done

[2018-01-08 02:30] lihaoyi commented on #84
Given that WSL/Ubuntu seems like the future, I'm going to punt on this and call it a wontfix. If someone wants to contribute it that's great, but I don't think we should spend time here

[2018-01-08 02:30] #84 closed

[2018-01-08 03:41] triggerNZ commented on #50
@pleira I'm slowly chipping away on this. I have twirl working, but needs some improvements regarding dynamic classloading. Now I am looking at getting the tests running. The scalatra/run parts would be great as a seperate PR.

[2018-01-09 08:45] rockjam commented on #16
Closed by #100 and #107

[2018-01-09 08:45] #16 closed

[2018-01-09 15:21] molikto opened #108 "Handle generated sources in GenIdea."
Currently additional source folder is not picked up in `GenIdea`, also there is no way to differentiate a generated source folder and a normal one.

SBT seems use the convention to generate source code in `src_managed` folder. http://www.scala-sbt.org/1.x/docs/Howto-Generating-Files.html

[2018-01-09 21:19] #31 closed

[2018-01-12 06:43] #108 closed

[2018-01-12 07:49] lihaoyi commented on #106
Fixed by https://github.com/lihaoyi/mill/commit/dea3b0d87facc657d42072ecffa791eaedc39017

[2018-01-12 07:49] #106 closed

[2018-01-12 07:51] lihaoyi commented on #62
@duncanmak yeah this is still open

[2018-01-12 22:44] sksamuel opened #110 "Plugins"
Maybe I missed this, but are there plans to allow plugins?

[2018-01-13 16:15] #110 closed

[2018-01-18 05:36] #37 closed

[2018-01-19 04:07] molikto opened #112 "GenIdea doesn't support resources correctly. Resources will not appear in the compiler output folder"
This causes, for example, the mill `build.sc` file itself fails to compile when run/debug mill within IntelliJ IDEA. Because the `scalac-plugin.xml` resource file is not in `/out/moduledefs/compile/dest/classes` folder (which is assigned as compiler output folder by current GenIdea implementation

[2018-01-19 18:34] #27 closed

[2018-01-21 05:46] #51 closed, assigned to nobody

[2018-01-22 00:40] sideeffffect opened #120 "Support for package lock file"
The file should record the concrete dependency resolution (including version) of all direct and transitive dependencies of the project. It should be maintained by `mill`.

Inspiration:

https://github.com/tkawachi/sbt-lock

https://github.com/sbt/sbt/wiki/User-Stories:--Offline-mode-and-Dependency-Locking#the-dependency-lockfile

https://fsprojects.github.io/Paket/lock-file.html

https://doc.rust-

[2018-01-22 01:28] lihaoyi commented on #120
Closing this for later; when it comes up on our roadmap we'll re-open it

[2018-01-22 01:28] #120 closed

[2018-01-24 17:18] lihaoyi opened #122 "Automate CI publishing to Github-Releases/Maven-Central"
We should publish all necessary to a snapshot version e.g. suffixed by `-COMMITabcdef` every commit to master, and publish a stable version e.g. `0.0.1` every time a tag is pushed, based on the name of the tag.

This will make it much easier for us to work on Mill while simultaneously making use of it in other projects

[2018-01-24 17:47] SethTisue commented on #122
(https://github.com/scalacenter/sbt-release-early?)

[2018-01-24 17:49] lihaoyi commented on #122
Probably a python/Ammonite script, since we won't have an SBT build in future

[2018-01-24 17:54] nafg commented on #122
You can make a Mill version of sbt-release-early first. ;)
Anyway it shouldn't be a big deal in any case. Deploying to bintray can
even be done with curl.

On Wed, Jan 24, 2018 at 12:49 PM Li Haoyi <notifications@github.com> wrote:

[2018-01-24 18:06] rockjam commented on #122
Are we okay with maven central synchronization lag for commit artifacts?

[2018-01-24 18:11] lihaoyi commented on #122
Sure, the whole world pays the synchronization lag, I don't think we are in any way special

[2018-01-24 22:22] rockjam opened #123 "Deps resolution can contain multiple versions of the same library"
When dependency resolution happens in two or more targets, results of those are concatenated together, there is a risk of getting multiple version of the same artifact. Here is minimal reproducable `build.sc`:

[code]

`mill reproduce.evicted` will print out one version of utest, whereas  `mill reproduce.notEvicted` will print out two versions on utest

[2018-01-25 16:06] lihaoyi commented on #123
We could "fix" this by aggregating third-party `Dep`s and doing a big coursier resolution per-module, whereas we currently run a small coursier resolution per-module and aggregate the jars (which can have dupes).

Not sure if it's better or worse; in the end someone's jar is going to be stomped over, but I guess if coursier does the stomping it'll pick the highest version rather than just picking

[2018-01-27 07:36] lihaoyi opened #124 "Main method discovery"
Current, `ScalaModule#run` fails if we do not explicitly designate a `mainClass`. If the user did not choose a `mainClass` but there is a class with the correct `main` signature in the classpath of a module, we should run that automatically

[2018-02-01 19:07] #102 closed

[2018-02-03 20:18] lihaoyi commented on #103
https://github.com/lihaoyi/mill/commit/2e50c963eecadcf7bd6ecd6956584ab099d5273a

[2018-02-03 20:18] #103 closed

[2018-02-03 22:42] #62 closed

[2018-02-03 22:42] #96 closed

[2018-02-05 06:07] lihaoyi commented on #122
This has happened https://github.com/lihaoyi/mill/releases

[2018-02-05 06:07] #122 closed

[2018-02-08 12:29] miroslavraska opened #129 "GenIdeaModule task does not generate correct Idea files"
Reproducible e.g. in mill repository
- run `mill mill.scalalib.GenIdeaModule/idea`
- this generates `.idea` and `.idea_modules` directories
- open project in idea
- only `root` module is present in Project Structure
- Project JDK and Scala SDK are not set properly

[2018-02-10 17:59] lihaoyi commented on #129
This should be fixed in master. I don't remember when I fixed it, but I did

[2018-02-10 17:59] #129 closed

[2018-02-15 14:54] lihaoyi commented on #123
This should be fixed in master, SBT style (we aggregate all ivyDeps until the last minute when we resolve them before compiling/execution)

[2018-02-15 14:54] #123 closed

[2018-02-17 22:25] #124 closed

[2018-02-18 11:08] siddhartha-gadgil opened #131 "console crashes"
I have a fork of a small project with a [mill branch(https://github.com/siddhartha-gadgil/Superficial/tree/mill). When I try to open a console the process crashes, for example
[code]

[2018-02-18 11:19] siddhartha-gadgil commented on #131
My guess is that the line 14 in https://github.com/lihaoyi/Ammonite/blob/ba4eb45dbc206ecd116c9ea98134bf79eb597b5e/ops/src/main/scala/ammonite/ops/Shellout.scala should be a `lazy val` - I am sorry I do not have a setup to test this quickly (a slow network means setting up the setup will take some time).

[2018-02-18 12:53] olafurpg opened #132 "Foo example on website crashes with java.lang.NoClassDefFoundError: scala/reflect/api/TypeCreator"
I was following http://www.lihaoyi.com/mill/page/configuring-mill.html#adding-ivy-dependencies and `mill foo.run` in the following build
[code]

crashes with
[code]

Adding a library that is not on the default ammonite classpath seems to work fine, I can only reproduce the error with pprint/fansi.

Congrats on the release! Docs look great, IntelliJ import just worked,  --watch is amazing.

[2018-02-18 14:12] lihaoyi commented on #132
Bah looks like i'm missing a `scala-reflect` dependency...

[2018-02-18 14:13] lihaoyi commented on #132
This should get it working
[code]

[2018-02-18 14:13] #132 closed

[2018-02-18 14:17] lihaoyi commented on #131
Should be fixed by https://github.com/lihaoyi/mill/commit/65779197026a2293407afe7066ff2eaa344f157e, which will publish itself once it finishes CI

[2018-02-18 14:17] #131 closed

[2018-02-18 15:46] olafurpg commented on #132
Whoops, adding scala-reflect indeed fixed the problem. Should pprint bring in scala-reflect transively? pprint depends on scala-reflect in the "provided" scope http://repo1.maven.org/maven2/com/lihaoyi/pprint_2.12/0.5.3/pprint_2.12-0.5.3.pom

[2018-02-18 19:06] lihaoyi commented on #131
Version https://github.com/lihaoyi/mill/releases/download/unstable/0.1.0-4-d5e8ca should fix this

[2018-02-18 19:06] #75 closed

[2018-02-18 19:07] lihaoyi commented on #112
Shouldn't Intellij be able to pick up `scalac-plugin.xml` from the `resources` directly? We could copy the files, but any downstream should be able to handle the fact that the classpath contains multiple paths, one of which is the `resources/` folder

[2018-02-18 19:07] #112 closed

[2018-02-18 19:56] iszlai opened #134 "Support “init” command"
Basic support to generate an example project can go a really long way it’s way esier to modify an existing build script compared to writing one from scratch .

Example of this in other build systems:
*gradle init --type java-library*
*sbt new scala/scala-seed.g8*

*mvn -B archetype:generate \
  -DarchetypeGroupId=org.apache.maven.archetypes \
  -DgroupId=com.mycompany.app \
  -DartifactId=my-app*

[2018-02-18 20:14] rockjam opened #135 "Vague compilation error when T.command doesn't have parenthesis"
There is a vague error message when you write mill's command without parenthesis(like `def bar() = T.command{}`) in the definition. build.sc to reproduce:

[code]

when you run `mill`, the output is:

[code]

We should make clearer error message here

[2018-02-18 20:29] rockjam commented on #134
It could be based on g8 templating system, the same as sbt uses, or we could come up with our own

[2018-02-18 20:41] lihaoyi commented on #134
We have example projects linked from the readme that you can download and start using:

- http://www.lihaoyi.com/mill/example-1.zip
- http://www.lihaoyi.com/mill/example-2.zip

This should give you the modifying-existing-build-script experience without the complexity of generating a build.

[2018-02-18 20:44] lihaoyi commented on #135
Yeah we should just error out immediately if a command doesn't have 1 argument list

[2018-02-18 21:15] japgolly commented on #75
What's the resolution of this issue? I saw the new doc's but didn't see anything on performance in relation to SBT.

[2018-02-19 00:41] siddhartha-gadgil commented on #131
Unfortunately I get the same error, even after deleting mill, installing from the above link, cleaning `out` and re-running.

[2018-02-19 02:36] lihaoyi commented on #131
could you try https://github.com/lihaoyi/mill/releases/download/unstable/0.1.0-5-fc2574

[2018-02-19 04:06] siddhartha-gadgil commented on #131
Thanks. This works (gave a scala console not an ammonite REPL as I
expected).

On Mon, Feb 19, 2018 at 8:06 AM Li Haoyi <notifications@github.com> wrote:

[2018-02-19 04:09] siddhartha-gadgil commented on #131
I tried with another project (in the same repo) and got a different error.

[code]

[2018-02-19 04:12] lihaoyi commented on #131
Could you try `mill freegroups.repl`

[2018-02-19 04:14] siddhartha-gadgil commented on #131
Gives an error:
[code]

[2018-02-19 04:17] lihaoyi commented on #131
How about on https://github.com/lihaoyi/mill/releases/download/unstable/0.1.0-7-addfbd (I just added it, sorry)

[2018-02-19 04:21] siddhartha-gadgil commented on #131
Unfortunately `repl` gives a similar error (it is recognized as a command) as below. The main difference between the two projects is a dependency on Monix 3.0.0-M3
[code]

[2018-02-19 04:23] lihaoyi commented on #131
Could you try
[code]

and then run `mill show` on whatever the values of it's dependencies are

[2018-02-19 04:38] siddhartha-gadgil commented on #131
There are two dependencies:

[code]

When I rull `mill show` I get
[code]

and

[code]

[2018-02-19 08:04] dos65 commented on #75
I tried to do some minor measures about a month ago.
At least there was the significant difference on startup time ( I used `show scalaVersion` command and empty project setup) :
- sbt (1.0.0+) - 17-20 seconds constantly
- mill  - 7 seconds on the first run and 1 second after caching build file.

[2018-02-19 21:36] aeons opened #139 "Failed to construct terminal; falling back to unsupported"
I get the following stack trace for most (all?) `mill` commands, but it seems to only show up the first time I run them. It doesn't seem to affect the actual command.

This is running in Arch using `alacritty` as the terminal.

[code]

[2018-02-19 21:45] aeons commented on #139
It only showed up the first time on `mill todo.run`, but it's every time when doing `mill todo.test`.

This is the project: https://github.com/aeons/todo-backend-typelevel/tree/mill

[2018-02-19 22:00] lihaoyi commented on #139
I suspect it has something to do with arch/alacritty. Not familiar enough with those to say what it is :/

[2018-02-19 22:06] DavidGregory084 commented on #139
@lihaoyi I have seen this issue before in SBT [here](https://github.com/sbt/sbt/issues/3240), I believe this was fixed by upgrading JLine to 2.14.4?

[2018-02-19 22:10] lihaoyi commented on #139
@aeons maybe try forcing jline to that version in build.sbt/build.sc and seeing if it fixes things?

[2018-02-19 22:32] aeons commented on #139
Not sure how to do that? I tried adding jline 2.14.5 to ivyDeps, but that didn't change anything. However the `TERM=xterm-color` env var from the linked SBT issues fixed it, so I assume it's the same issue.

[2018-02-19 22:45] lihaoyi commented on #135
Should be fixed by https://github.com/lihaoyi/mill/commit/fb8c75c01f86f41a62e549eb03953789658f7cae

[2018-02-19 22:45] #135 closed

[2018-02-19 23:45] lihaoyi commented on #139
Cool I'll close this for now then, if there's some change in Mill that would help feel free to send a PR

[2018-02-20 01:49] lihaoyi opened #142 "Scala-Native support"
Scala Native is a thing now, and I'd like to use Mill to develop Scala Native applications

Scala.js didn't turn out to be that hard to support, so hopefully Scala Native won't be too much work either

[2018-02-20 05:54] lihaoyi opened #143 "Compile against stripped interfaces of upstream modules"
If we strip out the implementation of intermediate compile output like Bazel does, it could save us a bunch of spurious re-compiles when you change a method body but Zinc isn't clever enough to figure out that downstreams don't need to recompile.

We only need to use the "real" compiled output of upstream modules 1) if you are using macros from that module or 2) you actually want to run the code

[2018-02-21 06:29] lihaoyi opened #145 "Implement a JavaModule to let us compile plain Java source code"
ScalaModule can already do this, but it brings along a bunch of baggage with the Scala Library and Zinc and other heavyweight things.

`JavaModule` and `ScalaModule` could share the bulk of their code, only differing in their built-in dependencies (`JavaModule` should have none, `ScalaModule` would have scala-library and friends) and the compiler used (javac versus zinc/scalac)

[2018-02-21 12:25] qqke opened #146 "foo.console java.lang.NullPointerException"
mill foo.console
[28/28] foo.console
1 targets failed
foo.console java.lang.NullPointerException
    ammonite.ops.Shellout$.executeInteractive(Shellout.scala:23)
    ammonite.ops.Shellout$.$anonfun$$percent$1(Shellout.scala:14)
    ammonite.ops.Shellout$.$anonfun$$percent$1$adapted(Shellout.scala:14)
    ammonite.ops.Command.applyDynamic(Shellout.scala:118)
    mill.modules.Jvm$.interactiveSubproc

[2018-02-21 15:36] freewind opened #147 "Generated idea project reports error `Error:scalac: No 'scala-library*.jar' in Scala compiler classpath in Scala SDK org_scala-lang_scala-library_2.12.4_scala-library-2.12.4-sources.jar` when compiling"
In a mill project:

[code]

Then open idea and set scala project, and build.

It reports:

[code]
![image](https://user-images.githubusercontent.com/333781/36488712-1e37352e-175f-11e8-8601-85d7f1a63bf3.png)

Check the scala related library, I see

![image](https://user-images.githubusercontent.com/333781/36488954-bad8b92a-175f-11e8-8ed7-78f53ae8fc87.png)

Which has empty compiler classpath.

To fi

[2018-02-21 16:03] lihaoyi commented on #146
Should be fixed in master, can you try https://github.com/lihaoyi/mill/releases/download/unstable/0.1.1-5-9c464c

[2018-02-21 16:03] #146 closed

[2018-02-21 17:11] ajrnz commented on #147
I'm happy to have a look at this. I'm looking at making the dependencies get correctly allocated to sub modules and a few other improvements to to GenIdea

[2018-02-21 19:43] lihaoyi commented on #147
@ajrnz go for it

[2018-02-22 04:15] #147 closed

[2018-02-23 03:38] japgolly commented on #75
Sounds awesome, thanks!

On 19 February 2018 at 19:04, Vadim Chelyshov <notifications@github.com>
wrote:

[2018-02-23 14:32] freewind opened #152 "Wondering why the generate jdk name is "1.8 (1)" rather than "1.8"?"
The IDEA project generated by `mill mill.scalalib.GenIdeaModule/idea` has a JDK named `1.8 (1)`, and I also see the code:

[code]

I'm wondering why choose `1.8 (1)` rather than `1.8`? I have this question because in my IDEA (in mac), when I create a JDK based on my jdk1.8 installation, the generated name is `1.8`

[2018-02-23 15:36] freewind opened #153 "If project contains lib "org.java-websocket:Java-WebSocket:1.3.7", it can't be generated when generating IDEA files"
build.sc:

[code]

There is `ivy"org.java-websocket:Java-WebSocket:1.3.7"` in build.sc, but when generate IDEA files by `mill mill.scalalib.GenIdeaModule/idea`, the generated library xml file doesn't contain it, see `.idea/libraries/` files (they are added to git)

A complete mini project to represent the issue: <https://github.com/scala-demos/mill-java-websocket-generating-issue-demo>

[2018-02-23 15:41] freewind commented on #153
It's quite strange that the Java-WebSocket files:

[code]

were not generated in the first 4 times run, but were generated in the 5th time.

[2018-02-23 15:57] lihaoyi commented on #152
You should ask questions on gitter instead of the issue tracker

[2018-02-23 15:57] #152 closed

[2018-02-23 16:05] miroslavraska commented on #152
@lihaoyi I'm interested in this question also..

And IMHO it's not the best approach to discuss topics like that on gitter, because it's really hard to find something in the discussion thread. If you address this question here, it might help other mill users in the future.

[2018-02-23 16:09] ajrnz commented on #153
It looks like you are using mill 0.1.0? There are significant changes on the current build and it seems to work there.

[2018-02-24 01:15] freewind commented on #153
@ajrnz Sorry, the README is outdated about the mill version. I built the mill from the latest code, and it happens with it. I will update the README of the demo

[2018-02-24 16:41] tfenne commented on #145
Expanding on this, would it be possible to have mixed scala/java modules?  I rely on this in SBT.  I guess once there is java module support I could try refacting into a scala module with a java sub-module and see how that feels.  One example is https://github.com/fulcrumgenomics/sopt which is 99% scala but java to declare two annotations.

[2018-02-24 17:11] ashawley opened #156 "Broken on Java 9"
I couldn't use mill because ammonite doesn't work on Java 9.  I ran in to lihaoyi/Ammonite#675

Anyway... you should mention in the docs that it only supports Java 8.

[2018-02-24 17:21] philwalk opened #157 "Doesn't work on Windows"
I added the following build.sc below an existing sbt project called TaxPrep:

[code]
This was my first experiment after installing mill in a Windows/Cygwin environment, as per the instructions, and it installed with no problems.   When I try to compile the TaxPrep project, I get the following error message (sun/java/scala portions of the stack dump were removed for brevity):

[code]
My environment

[2018-02-24 18:48] lihaoyi commented on #145
@tfenne I think you can already put java sources together with the scala sources in the `src/` of a `ScalaModule`. Can you try that and see if it works?

[2018-02-25 03:01] fmonniot opened #160 "The docJar task failed because it couldn't load ScalaDoc"
Hello there,

First I'd like to thank you for this initiative which remove all the magical layer from SBT !
I'm writing a plugin which publish a module to Bintray (last commit on fmonniot/cassie#10) and in doing so I found out that the `docJar` target is failing:

[code]

Looking at the definition of the target (have I said how much I like being able to easily find the definition of a target ?), i

[2018-02-25 03:04] fmonniot commented on #160
Wow that was fast !
Thanks :)

[2018-02-25 05:23] AlexITC opened #161 "Alphabetical ordering on resolve task"
Running the command `mill resolve mymodule._` is giving me an output with no trivial ordering, personally I would prefer to have it sorted alphabetically, if you like the change, I could upload a pull request:

[code]

[2018-02-25 05:54] freewind commented on #153
This is seem to be a very randomly issue. Today I add two dependences to my project:

[code]
The `org.slf4j:slf4j-api:1.7.25` is generated correctly, but `ch.qos.logback:logback-classic:1.2.3` is not.  I re-run `mill mill.scalalib.GenIdeaModule/idea` several times and finally it comes out.

I'm not sure if it has something with network, since the network to foreign country is not stable and often

[2018-02-25 07:08] AlexITC opened #162 "Exception on publishing library"
I'm trying to publish a library to sonatype using the command `mill playsonify.publish ...` as it is specified in the docs, sadly, I'm getting this exception:

[code]

I'm thinking that this could be a problem related to my environment, in case that it helps, I'm facing the problem with this project: https://github.com/AlexITC/playsonify

I forget to mention that running `mill playsonify.docJar` g

[2018-02-25 07:47] lihaoyi commented on #162
This should be fixed in the latest unstable version, can you try it (`sudo curl -L -o /usr/local/bin/mill https://github.com/lihaoyi/mill/releases/download/unstable/0.1.1-36-7b7044 && sudo chmod +x /usr/local/bin/mill`)

[2018-02-25 07:47] lihaoyi commented on #160
This should be fixed in the latest unstable version `sudo curl -L -o /usr/local/bin/mill https://github.com/lihaoyi/mill/releases/download/unstable/0.1.1-36-7b7044 && sudo chmod +x /usr/local/bin/mill`

[2018-02-25 07:47] #160 closed

[2018-02-25 07:47] #162 closed

[2018-02-25 12:18] ajrnz commented on #153
I don't think this is a problem will mill. I've run `GenIdea` on your project with the latest version and it works for me. The resolution part of mill is handled by coursier. Maybe you could try renaming your `~/.ivy2` and `~/.coursier` directories and see if there is a problem with your cache? Also it could be a problem with an unstable connection (as you say).

[2018-02-25 12:47] robby-phd opened #164 "Some ScalaJSModule objects do not produce .sjsir files"
The expectation is that mill build object that is an instance of ScalaJSModule should be compiled with Scala.js, thus producing .sjsir files, and associated tests run properly.

However, the followings show that sometimes it's not always the case.

### With ScalaTest

[code]
This outputs `library.js.tests.test org.scalajs.testcommon.RPCCore$RPCException`.

No .sjsir files are produced under `out`.

[2018-02-25 15:46] rockjam commented on #164
@robby-phd will take a look at this, thanks for report

[2018-02-25 16:18] robby-phd commented on #164
@rockjam Thank you! FYI, if you manage to make mill to produce .sjsir files but tests are still not running properly, it *might* be related to scala-js/scala-js#3174.

[2018-02-25 17:14] AlexITC commented on #162
It worked, thanks!

As a suggestion, I see that you are using your blog to post `mill` documentation, in this particular case, the version upgrade has a breaking change where I needed to update my build definition, if you version the documentation, it would be simpler for users to avoid these kind of issues when they want to use a specific version, thanks!

[2018-02-25 17:55] lihaoyi commented on #164
@robby-phd could you try swapping the order of `ScalaJSModule` and `SireumModule` here? https://github.com/sireum/v3-runtime/blob/utest/sireum.sc#L116

[2018-02-25 17:55] lihaoyi commented on #161
Sure seems reasonable

[2018-02-25 18:08] robby-phd commented on #164
@lihaoyi Still doesn't produce .sjsir files (even if that works, I think it'd better for users in general if mill is insensitive to trait inheritance ordering).

[2018-02-25 20:18] rockjam commented on #164
@robby-phd what's the issue with tests?

[2018-02-25 20:55] robby-phd commented on #164
@rockjam There seems to be a bug with Scala.js that causes RPCCore$Exception even though .sjsir files are generated; this seems due to class export disappearing (see [Scala.js issue#3174](https://github.com/scala-js/scala-js/issues/3174) for more information).

If everything works, the expected test behavior in my case should be similar to what I get by running:

[code]

That is, all tests should

[2018-02-25 21:10] tfenne commented on #145
Oh, that does work @lihaoyi - thanks for pointing that out!

[2018-02-25 21:36] AlexITC opened #166 "Using hyphen inside module names"
At the moment, it seems to be no way to include hyphens in the module names which is a common practice to name sbt modules, for example, I create the folder `playsonify-test` and then, define it in the build definition as `object playsonify-test extends ...` or using backtics around the name with no luck.

It would be useful to be able to do this.

[2018-02-25 21:50] ajrnz commented on #166
As a workaround for the moment you can do something like

[code]

it seems to work at least in simple cases

[2018-02-25 22:13] AlexITC commented on #166
Where does the `up` comes from? if I don't import it I get an error.

Also, if I understand correctly, the drawback would be that while publishing the library, the artifact would use `mymodule` instead of `my-module`.

[2018-02-25 22:31] ajrnz commented on #166
Use `import ammonite.ops._`

Yep. It's by no means perfect but it might get you compiling.

[2018-02-26 09:07] rockjam opened #167 "Errors in log mill 0.1.3"
This error occurs on mill 0.1.3 every time I run command from shell
[code]

[2018-02-26 10:02] DavidGregory084 commented on #167
I think this is #139 again

[2018-02-26 10:06] DavidGregory084 commented on #157
@philwalk which version of Mill was this? Could you possibly try again with 0.1.3?

[2018-02-26 18:01] rockjam opened #170 "Auto detection of test frameworks"
If I remember correctly, sbt does automatic test framework detection based on dependencies in classpath. We should probably do the same thing.

[2018-02-26 18:16] lihaoyi commented on #167
Yeah probably a dupe of #139

[2018-02-26 18:18] #167 closed

[2018-02-26 18:19] lihaoyi commented on #139
@rockjam since you're getting this, want to try forcing the jline upgrade someone suggested? There's already a PR open for Ammonite repo but we can just bump the version in Mill first to see if it solves the problem

[2018-02-26 18:22] lihaoyi commented on #170
Looks like SBT just hardcodes a list of frameworks and uses them all the time

https://github.com/sbt/sbt-zero-thirteen/blob/069865794d295ae0a2a64bd534714eba831aac36/main/src/main/scala/sbt/Defaults.scala#L451

Shouldn't be hard for us to do the same

[2018-02-26 18:27] rockjam commented on #170
Didn't know that they are hard coded. Well, it makes it easier this way.

[2018-02-26 18:31] rockjam commented on #139
@lihaoyi yes, I'll do it

[2018-02-26 21:38] francisdb opened #171 "RuntimeException: Nonzero exit value: 1 loop"
mill `0.1.3`
macOS 10.13.3 (17D47)

started with docs on http://www.lihaoyi.com/mill/
added the example build.sc to an existing sbt project folder

I get alternating results when running just `mill`

[code]

[code]

[code]

[2018-02-26 21:55] rockjam commented on #171
Try `mill -i` to dive inside build REPL, or run `mill module.target` to run a specific task in batch mode. Or is it mainly about error message you got?

[2018-02-26 22:18] francisdb opened #172 "recursive value compile never ends"
mill 0.1.3
macOS 10.13.3 (17D47)

[code]

[code]

[2018-02-26 22:21] francisdb commented on #166
you could also use this to avoid the ammonite ops import

[code]

[2018-02-26 22:59] francisdb commented on #171
Yes, I got started by now, but I expect that endless loop to not be on purpose :-)

[2018-02-26 23:37] francisdb opened #173 "transitive runtime dependencies not available during tests"
mill 0.1.3

I have tests using specs2 and specs2-mock
specs2-mock depends on [mockito-core](http://search.maven.org/#artifactdetails%7Corg.mockito%7Cmockito-core%7C2.7.22%7Cjar)
mockito-core has `runtime` scoped dependencies declared

but when I run my tests they seem to be missing (this works correctly in sbt)

[code]

[2018-02-27 00:41] AlexITC commented on #172
I feel that's something related to the scala compiler, you can reproduce the behavior in a REPL:
[code]

It will be the same, probably displaying the warning would be a good idea.

[2018-02-27 00:49] AlexITC commented on #171
I have been getting another error which might be due to the same problem, the current workaround seems to be using the `-i` option:

[code]

[2018-02-27 01:06] lihaoyi commented on #171
Yeah the build REPL should raise an error and ask you to `-i` as well, rather than just hanging

[2018-02-27 03:50] lihaoyi commented on #172
That's not so much the compiler but the runtime; it seems unfortunately Scala automatically `@tailrec` optimizes such calls so you don't even get a proper stack-overflow. I suspect it would be pretty hard to detect such things at runtime

[2018-02-27 03:51] lihaoyi commented on #153
I've had problems with the coursier resolution not being deterministic in the face of network problems. I'm sure it's our fault in how we're using coursier

[2018-02-27 03:59] lihaoyi commented on #171
https://github.com/lihaoyi/mill/commit/02e64b943b90387993f8f7bd7e3cd265ee569d27

[2018-02-27 03:59] #171 closed

[2018-02-27 09:04] francisdb commented on #172
I guess this can then just be closed?

[2018-02-27 11:26] francisdb opened #174 "Tries to run trait as test"
In the output of my tests I see the following red line:
[code]

this is defined as

[code]

The test fingerprint picks this up because it extends the specs2 `SpecificationStructure` but since this is a trait it should be skipped

[2018-02-27 11:52] francisdb opened #175 "How to configure credentials for private maven repos?"
Could not find any related documentation on fetching artifacts from a private maven repository.

sbt has `coursierUseSbtCredentials := true` which makes coursier look in the global sbt settings for credentials.

Is there anything similar available for mill where I could put the credentials in some file and Mill picking them up?

[2018-02-27 14:32] rockjam commented on #175
Answered that in gitter. We could add current options in mill's documentation, I guess

[2018-02-27 14:33] #172 closed

[2018-02-27 14:36] francisdb commented on #175
Would it not be better to have a standard way for storing these somewhere in the home dir of the user?

[2018-02-27 14:49] rockjam commented on #175
Yes, it is. But someone should come up with PR for this

[2018-02-27 15:20] rom1dep commented on #139
74255b7 does fix the issue for me. GTG.

[2018-02-27 15:50] rockjam commented on #139
Good

[2018-02-27 16:08] francisdb commented on #175
From gitter:

[2018-02-27 16:08] #175 closed

[2018-02-27 16:09] francisdb commented on #175
but maybe this should be added to the docs

[2018-02-27 16:34] #139 closed

[2018-02-28 10:46] freewind commented on #153
It seems I have to run `mill foo.compile` before `mill mill.scalalib.GenIdeaModule/idea` to make it generate the missing library files

[2018-02-28 12:27] freewind opened #177 "Included other projects when generating IDEA files"
When I generating IDEA files in `my-demo` project, it includes some other projects which is a sibling of current project.

The console log are:

[code]

It's quite strange to include the `file://$MODULE_DIR$/../../scala-validation-accord-demo/demo`, which is not related with current project.

My `my-demo/build.sc` file content is:

[code]

[2018-02-28 12:32] freewind commented on #177
If I modify the `build.sc` to:

[code]

The problem is fixed. But I don't know why it was wrong in the before version?

[2018-02-28 12:47] MasseGuillaume opened #178 "scrollbar on http://www.lihaoyi.com/mill/"
Where is the source code for http://www.lihaoyi.com/mill/ ?

Scrollbars are showing up for no reason.

![a](https://user-images.githubusercontent.com/921490/36788304-b60bad20-1c8d-11e8-9ba3-a679106699c3.png)

The fix is pretty simple:

[code]

[code]

[2018-02-28 12:54] MasseGuillaume commented on #178
Found it: https://github.com/lihaoyi/mill/blob/457603c1c66d6e1b8cc769f1842ca951b3a7b7ce/docs/pages.sc#L73

[2018-02-28 15:39] #178 closed

[2018-02-28 17:23] francisdb opened #180 "predef.sc only loaded when running with -i"
I try to have a global `nexusUser` var I can use in multiple builds. See #175

current setup for reproducing this issue

I created a broken  `~/.mill/ammonite/predef.sc` (contains a line with `--`)

[code]

Instead of `build.sc` compilation failing it should fail on `predef.sc`

[2018-02-28 17:52] MasseGuillaume commented on #142
Keep an eye open on https://github.com/scala-native/scala-native/pull/1143

[2018-02-28 17:54] lihaoyi commented on #180
@francisdb what if you do `mill -i api.compile`; does it load the `~/.mill/ammonite/predef.sc`, or does it not?

[2018-02-28 22:57] francisdb commented on #180
nope, also skips predef

[code]

[2018-03-01 04:03] lihaoyi commented on #180
ok this is probably a bug/difference between the different code paths we use to load the REPL and to run scripts

[2018-03-01 14:03] freewind opened #183 "`mill _.run` compiles and runs on a project even if it's empty"
Strange mill behavior again.

I create a new dir, and create a `build.sc` file. There is no other scala files, but I can compile or even run it.

See my log:

[code]

The result of running seems like the program of my other project which defines an `demo` internal project

[2018-03-01 14:15] freewind commented on #183
It's OK now when I deleted everything under `~/.mill`.

I found if I define a project in `build.sc` which has the same name as another project, it will reuse the existing one.

There might be caching problem in mill. The workaround is to delete `~/.mill/*` if you found something strange

[2018-03-01 15:16] francisdb commented on #156
That ticket mentions OpenJDK9 but indeed mill also doesn't work with OracleJDK9

[code]

And a non-interactive run just hangs forever
[code]

[2018-03-01 17:35] lihaoyi opened #184 "Mill seems to be incorrectly caching things across projects"
- https://github.com/lihaoyi/mill/issues/183
- https://github.com/lihaoyi/mill/issues/177

@freewind can you try and set up a minimal repro workflow that someone can use to reproduce the problem and fix it?

[2018-03-01 17:35] lihaoyi commented on #177
superseded by https://github.com/lihaoyi/mill/issues/184

[2018-03-01 17:35] #177 closed

[2018-03-01 17:35] lihaoyi commented on #183
superseded by https://github.com/lihaoyi/mill/issues/184

[2018-03-01 17:35] #183 closed

[2018-03-02 03:55] freewind commented on #184
I can make it later

[2018-03-02 06:44] lihaoyi commented on #180
@francisdb can you try putting your predef in `~/.mill/ammonite/predefScript.sc`?

[2018-03-02 07:58] francisdb commented on #180
That seems to work 👌
Is this documented somewhere?

[code]

[code]

[2018-03-02 09:56] francisdb opened #185 "Private repo artifacts not downloaded / added to classpath"
[code]

A coursier download happens
/Users/francisdb/.coursier/cache/v1/https/francisdb%40nexushost/repository contains the pom for `com.foo.bar::bar` but no other files

`mill show mymodule.compileClasspath` does not contain `com.foo.bar::bar`

on a side note, the resolution failed message mentions `~/.ivy2` but not `~/.coursier`

[code]

[2018-03-02 10:07] nightscape opened #186 "Mill Docker image"
Hi all,
I've created a docker base image for mill so that it's easier to start a dockerized project with it:
https://hub.docker.com/r/nightscape/scala-mill/
I would happily contribute this as a PR to this repo.
IMO it makes sense to have an official Docker build to reduce fragmentation.

Two additional questions:
I tried to run Mill once during the Docker build so that it precompiles all the prede

[2018-03-02 11:29] GrannyOlli opened #187 "Unable to resolve scalaworker behind corporate proxy"
In ScalaWorkerApi, resolving mill-scalaworker and compiler-interface from hard-coded repo1.maven.org fails behind a corporate proxy. It should be possible to configure a maven proxy for this.

https://github.com/lihaoyi/mill/blob/c5b967515cc4ccf6ebe76c69691c196b55113b3c/scalalib/src/mill/scalalib/ScalaWorkerApi.scala#L21

[2018-03-02 12:20] DavidGregory084 commented on #185
I have noticed this problem in SBT sometimes when using Coursier to resolve artifacts. I haven't yet dug into where it's going wrong in Coursier.

I think the silent failure in Mill might be caused by this snippet in [mill.scalalib.Lib.scala](https://github.com/lihaoyi/mill/blob/0.1.3/scalalib/src/mill/scalalib/Lib.scala#L92):

[code]
This makes the (IMO) reasonable assumption that the JARs will a

[2018-03-02 12:36] francisdb commented on #185
I'm also using Coursier for our sbt build and there there are no issues fetching these artifacts. Anything I can do to debug this?

[2018-03-02 12:46] DavidGregory084 commented on #185
Do you know which version of Coursier you are using in your SBT build? IIRC Coursier's cache is versioned. It might be worth checking whether this is resolved if you add a newer version of Coursier (e.g. 1.0.2) to the Mill build [here](https://github.com/lihaoyi/mill/blob/master/build.sc#L84) and follow the instructions in the README to build and run Mill from source.

If you want to debug Mill it

[2018-03-02 13:05] francisdb commented on #185
My sbt build has addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.0")
I cleared the coursier cache and all that is added is the pom file, the jars are missing

[2018-03-02 13:19] francisdb commented on #185
Swallowing errors is never a good idea

[2018-03-02 17:51] lihaoyi commented on #186
@nightscape could you try using `mill -i` for things you run in docker/docker-hub? That would avoid the client-server setup, which is ok because command-latency on docker-hub doesn't matter, and removes one source of flakiness

[2018-03-02 17:54] lihaoyi commented on #185
@francisdb I don't have any convenient private repos to test with. Do you want to help send a PR to fix this? The relevant code is what david pointed to above

[2018-03-02 18:36] lihaoyi commented on #187
Yeah this is not currently possible, I have a commit in the `test` branch that will expose this as something you can configure

[2018-03-02 21:08] francisdb commented on #185
@lihaoyi sure, will have a look somewhere next week

[2018-03-02 21:50] Dennis4b opened #189 "Scala.js: FullOpt + Closure compiler support"
Hi!

I've ported a Scala/Scala.js app to mill, which was easier than expected. Mill works very well for me, very nice to compose with plain Scala, and it responds much quicker than SBT did in watch mode. So thank you!

The last part missing for me however is having the fullOpt output run through the closure compiler (which is what `sbt fullOptJS` does). `foo.scalaJSLinkerClasspath` indicates that

[2018-03-02 22:35] rockjam commented on #189
@Dennis4b Did you try to run `mill yourModule.fullOpt` on your module?

[2018-03-02 22:42] rockjam commented on #189
`fullOpt` actually should do optimizations, you can see the different size of resulting js files. Try to compare js files produced by both `fullOpt` and `fastOpt`

[2018-03-02 22:44] Dennis4b commented on #189
@rockjam yes.

[code]

So it's a bit smaller, but it hasn't gone through the (in scala.js optional) closure compiler yet. The final size should be more like 1-2 megabytes.

Also:
[code]

would be stripped by the closure compiler.

For reference the result after `sbt fullOptJS`:

[code]
and
[code]

[2018-03-02 23:13] rockjam commented on #189
I see. Well, it shouldn't be hard to add

[2018-03-03 02:23] lihaoyi commented on #187
@GrannyOlli can you try using the latest unstable version https://github.com/lihaoyi/mill/releases/download/unstable/0.1.3-9-a6bd3d, instantiating a new `mill.scalalib.ScalaWorkerModule` in your `build.sc` with it's `repositories` overriden, and then overriding your `scalaWorker` in your `ScalaModule`s to point towards your custom `mill.scalalib.ScalaWorkerModule`?

[2018-03-03 07:09] GrannyOlli commented on #187
Thank you, i will try that!

[2018-03-03 14:44] bbarker opened #190 "support equivalent of sbt's `scalaJSUseMainModuleInitializer := true` for Scala.js"
`scalaJSUseMainModuleInitializer := true` avoids the need for extending
`JSApp` (deprecated): https://www.scala-js.org/tutorial/basic/index.html

[2018-03-03 16:36] nightscape commented on #186
The `-i` flag helped. Any opinions on creating a PR and having an official `lihaoyi/scala-mill` Docker base image?
Also, is it a known problem about stuff recompiling although it shouldn't be necessary?
I only found closed issues in the Ammonite repo.

[2018-03-03 17:09] robby-phd commented on #164
After closer inspection, my custom module overrides ScalaJSModule's scalacPluginIvyDeps that's already populated with Scala.js plugin. The fix is to make sure to include the populated values when overriding mill module trait methods.

It would be nice if somehow mill "standard" modules such as ScalaJSModule do not fill default values that have to be included when users override methods such as sca

[2018-03-03 17:09] #164 closed

[2018-03-03 17:52] rockjam commented on #190
@bbarker it should be supported out of box without the need for `scalaJSUseMainModuleInitializer` setting

[2018-03-03 17:56] #190 closed

[2018-03-03 19:15] lihaoyi commented on #164
Yeah it's a bit confusing when to user `super.foo()` and when not to

[2018-03-03 20:23] bbarker commented on #190
@rockjam @lihaoyi

Here's a fairly minimal example that seems to demonstrate the issue ([full project here](https://github.com/bbarker/ProjectGists/tree/master/Scala/MillScalaJSExec); with [index.html](https://github.com/bbarker/ProjectGists/blob/master/Scala/MillScalaJSExec/client/static/public/index.html)):

[code]

[2018-03-03 20:24] bbarker commented on #190
To be clear, the part that says "this works" only works if `extends JSApp` is uncommented.

[2018-03-03 21:03] rockjam commented on #190
What if you specify `def mainClass = Some("io.github.bbarker. Main")` in your build? Will it be the same result?

[2018-03-03 21:12] rockjam commented on #190
@bbarker looks like it works without `extends JSApp` when you specify `mainClass`in build
![image](https://user-images.githubusercontent.com/1951244/36939362-a5e11308-1f40-11e8-9dec-09fe3011348c.png)
here is a diff:

[code]

[2018-03-03 21:14] rockjam commented on #190
By the way, which version of mill do you use? In latest master branch there is auto-detection of main class for scala.js modules. If you don't use latest master, you should try it 😃

[2018-03-03 21:22] ssokolenko commented on #166
I think the "hyphen inside module" is actually the part of a wider issue, you can't use scala's backticks to wrap any task/module/target names with special symbols, only "a-zA-Z0-9_" are allowed by argument parser.

Also, while it is possible to define a task with special symbols like "say-^hello" - it will be resolved as "say$minus$uphello" but you wont' be able to call it since as noted above th

[2018-03-03 22:03] bbarker commented on #190
@rockjam aha, I had just added the 0.1.3 version to my dockerfile, since I develop in docker and am weird like that. Maybe I should use mill from the repo directly as you suggest since things are moving quickly these days.

[2018-03-04 07:11] lihaoyi commented on #187
should be doable in 0.1.4

[2018-03-04 07:11] #187 closed

[2018-03-04 07:32] lihaoyi commented on #58
This is probably moot since now the client-server model makes bash-execution fast. There is much less need to spend time in the REPL other than poking around the build: most normal running/watching will be from the terminal

[2018-03-04 07:32] #58 closed

[2018-03-04 08:24] lihaoyi commented on #180
It's actually documented as part of Ammonite, whose script runner we build upon http://ammonite.io/#ScriptPredef. There's `predef.sc` for the REPL and `predefScript.sc` for scripts. Perhaps we can consolidate them later, but that would need more discussion.

Perhaps you can send a PR to add a one-line mention & link to the relevant part of our docs?

[2018-03-04 08:24] #180 closed

[2018-03-04 10:23] rockjam commented on #190
@bbarker try 0.1.4 - it's out now

[2018-03-04 13:51] Dennis4b commented on #189
You're right, turns out it wasn't hard to add.

My guess is that running the closure compiler optimization pass is actually the intended behaviour for fullOpt? In that case:

[code]

[2018-03-04 14:25] rockjam commented on #189
Great. Could you submit it as a PR, we will be happy to merge

[2018-03-04 22:33] lihaoyi opened #197 "Add implicit ammonite.ops.Path based on T.ctx().dest"
This would save us needing to pass in explicit `(T.ctx().dest)`s everywhere we spawn subprocesses

[2018-03-05 04:27] lihaoyi commented on #50
Closing this due to inactivity, and also because we kinda-sorta have Ammonite serving in the "not a library" use case

[2018-03-05 04:27] #50 closed

[2018-03-05 04:30] lihaoyi commented on #166
the CLI interface will never support backticks, because bash uses backticks for something else (I forgot what), but we can easily make it support things like `foo.bar-baz.qux`. The only trade-off is if in future we want to extend our query language to support negation, where you can do `mill "foo._ - foo.baz` to exclude `foo.baz` from the `foo._` query, we need to make sure it's both un-ambiguous

[2018-03-05 05:16] lihaoyi opened #199 "Add a command to print coursier's dependency tree"
Coursier already has this functionality:

- https://github.com/coursier/coursier/blob/015e906481335df14d546952ec282157df04d31e/cli/src/main/scala-2.12/coursier/cli/Helper.scala#L492-L497

We just need to expose it to the user

[2018-03-05 09:43] francisdb commented on #180
The ammonite docs also mention `predefShared.sc` but that does not seem to be working

[2018-03-05 13:56] bbarker opened #201 "`src/main` folders, etc interpreted as a package names"
When intellij project files are regenerated, it seems to set `src` as the sources root, and not e.g. src/main/scala, which makes all new packages created have a prefix of `main.scala.whatever....`

[2018-03-05 15:33] jastice commented on #170
Gotcha I ran into with sbt: sbt tries to use all the test frameworks detected in a project on every test class, even when using `testOnly`. Passing command line params intended for a specific framework will break the test run in this case. Hopefully this can be avoided in mill :)

[2018-03-05 16:40] lihaoyi commented on #170
I've definitely hit the case where passing arguments into the test framework makes another framework fail to parse... maybe we should just document which framework to use and expect people to choose them explicitly?

Given that we support running multiple test frameworks already, I'm not sure what Mill's behavior is when arguments to one framework fail to parse for another

[2018-03-05 16:41] lihaoyi commented on #201
Yeah IntelliJ project generation should probably put the source root as `src/main/scala/`.

This only applies to the `SbtModule`, normal `ScalaModule` isn't affected

[2018-03-05 18:31] jastice commented on #170
In sbt it's non-trivial to select the framework manually (need to mess with the `testFrameworks` setting). If it was easier in mill to pass the appropriate framework as an argument to the test run, that could make support from IntelliJ more smooth down the road.

[2018-03-05 21:49] francisdb commented on #185
Somehow my artifact is marked optional, when enabling optional artifacts in `Lib.scala` everything works as expected

[code]

maybe related: https://github.com/coursier/coursier/issues/787

[2018-03-06 00:45] philwalk commented on #157
[code]

[2018-03-06 04:55] #189 closed

[2018-03-06 04:57] lihaoyi commented on #184
Thanks @freewind!

[2018-03-06 05:13] lihaoyi commented on #185
@francisdb seems like a similar solution as https://github.com/lihaoyi/Ammonite/pull/713/files might fix everything then

[2018-03-06 05:15] lihaoyi commented on #170
Given Mill trivially supports multiple test modules, I suspect the best way to let people select the appropriate test framework is just to say "put the different test framework tests in different test modules". Then you can pick which test module to run and pass args appropriately

[2018-03-06 09:29] francisdb commented on #185
Yes, saw that pr, but would like to first find out why my direct dependency is being marked "optional"

[2018-03-06 17:50] ajrnz commented on #142
See PR#206

[2018-03-07 08:58] francisdb commented on #185
@lihaoyi as a temporary workaround we could include optional dependencies in the classpath
[code]
not sure we need the rest of https://github.com/lihaoyi/Ammonite/pull/713/files

[2018-03-07 09:38] SRGOM opened #208 "Please consider renaming to a more easily searchable name"

[2018-03-07 09:40] SRGOM commented on #208
"Mill rust"

[2018-03-07 10:15] rockjam commented on #208
Does "Mill build tool" or "mill scala" give more relevant result?

[2018-03-07 10:16] rockjam commented on #208
Both work for mee

[2018-03-07 10:23] SRGOM commented on #208
I figured mill was extensible so if I'm looking for building a rust project using mill I'll look for "Mill rust" as the first search term

[2018-03-07 11:10] DavidGregory084 commented on #208
Mill is a Scala build tool tho :smile:

[2018-03-07 11:12] DavidGregory084 commented on #208
You're right that there's nothing to stop you building Rust with Mill of course, but I don't imagine we can get great results for every "<build tool name> <programming language>" pair out there

[2018-03-07 12:59] francisdb commented on #185
According to https://github.com/coursier/coursier/issues/802#issuecomment-371129567 we should be pulling in optional dependencies (and ignore not found ones)

[2018-03-07 13:52] freewind commented on #184
@lihaoyi No worries:)

[2018-03-07 15:23] lihaoyi commented on #208
The solution here is that you should start publishing blog posts on mill-rust integration to increase our SEO

[2018-03-07 15:23] #208 closed

[2018-03-08 08:16] francisdb commented on #32
What is the priority on this? Currently mill is unusable for bigger projects because of at least 4x compile time increase compared to sbt.

[2018-03-08 09:53] jan0sch commented on #161
Is this related to `resolveTasks` in `MainModule` or to `resolve` in `Resolve`?

One more thing: Are there instructions on howto setup an IDE for hacking on mill (e.g. Intellij Idea)?

[2018-03-08 09:56] francisdb commented on #161
you can use the intellij setup on any mill build
http://www.lihaoyi.com/mill/#intellij-support

`mill mill.scalalib.GenIdeaModule/idea`

[2018-03-08 09:57] jan0sch commented on #161
Thanks. :)

[2018-03-08 10:12] francisdb opened #211 "multi-module dependency resolving broken (duplicates)"
I seem to be getting 2 versions of the same dependency in the classpath, should mill not be taking care of these?

[code]

simple test case available here:
https://github.com/francisdb/milltest

[2018-03-08 15:46] lihaoyi commented on #211
maybe; what's your build?

[2018-03-08 15:46] #174 closed

[2018-03-08 15:49] francisdb commented on #211
My build is a big 20+ module project, where some modules bring in akka through a transitive dependency from it's own dependency

Anything more specific you want me to mention?

[2018-03-09 06:13] lihaoyi commented on #211
can you poke around the build using `describe`/`inspect` and `show` to see where the various versions come from? Using `describe` tells you what the parents of a task are and `show` tells you what the value is. It should be pretty quick to figure out where the various copies of Akka are coming from

[2018-03-09 12:22] raskam opened #214 "Option to exclude transitive ivy dependencies"
Currently `Dep` only has an option to configure coursier attributes, but there's no way to configure coursier exclusions.

Right now I'm using implicits to achieve this:

[code]

And usage:

[code]

Better would be of course to modify the `Dep` directly. I could make it into PR if you like the way it is implemented.

[2018-03-09 17:59] #199 closed

[2018-03-10 15:17] philwalk commented on #157
philwalk@q6:~/taxes
$ mill -i TaxPrep.compile
[25/25] TaxPrep.compile
[info] Compiling 47 Scala sources and 1 Java source to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes ...
[error] ## Exception when compiling 48 sources to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes
[error] xsbt.CompilerInterface
[error] java.net.URLClassLoader.findClass(URLClassLoader.java:381)
[error] j

[2018-03-10 15:18] philwalk commented on #157
philwalk@q6:~/taxes
$ mill -i TaxPrep.compile
[25/25] TaxPrep.compile
[info] Compiling 47 Scala sources and 1 Java source to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes ...
[error] ## Exception when compiling 48 sources to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes
[error] xsbt.CompilerInterface
[error] java.net.URLClassLoader.findClass(URLClassLoader.java:381)
[error] j

[2018-03-10 15:19] philwalk commented on #157
philwalk@q6:~/taxes
$ mill -i TaxPrep.compile
[25/25] TaxPrep.compile
[info] Compiling 47 Scala sources and 1 Java source to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes ...
[error] ## Exception when compiling 48 sources to C:\Users\philwalk\taxes\out\TaxPrep\compile\dest\classes
[error] xsbt.CompilerInterface
[error] java.net.URLClassLoader.findClass(URLClassLoader.java:381)
[error] j

[2018-03-10 15:20] philwalk commented on #157
sorry for the noise, I accidentally hit "close and comment" previously.  Hopefully this is still open, although my comments all have strike-through lines.
Phil

[2018-03-10 15:22] philwalk commented on #157
To summarize, in case the strike-through is too hard to read, when I did mill -i TaxPrep.compile, it failed in the same way as before.
Also, sorry for the 5 day delay in responding, I've been doing taxes (as you might have guessed).

Phil

[2018-03-10 16:44] lihaoyi commented on #214
@raskam you can always fall back to passing in a `coursier.Dependency` to `ivyDeps`; could you try configuring one with the exclusion you want and seeing if that works?

[2018-03-11 01:33] #161 closed

[2018-03-11 16:22] megri opened #220 "brew install mill should not depend on java8"
I use [sdkman](http://sdkman.io/) to manage my java installations but mill requires a brew version of java to be installed: https://github.com/Homebrew/homebrew-core/blob/374e70653a865dc08781dd6244c2a925206bc931/Formula/mill.rb#L9

Simply removing this line should allow it to work with sdkman, but may introduce other bugs if no java8-version is available. A shell-check like `$("$JAVA_HOME/bin/java

[2018-03-11 21:15] benjaminfrank commented on #220
I think homebrew uses `/usr/libexec/java_home` to figure out if a suitable java installation is present:
https://github.com/Homebrew/brew/blob/master/Library/Homebrew/language/java.rb#L5
and only warns/installs the homebrew version if it can't find one. not sure how that check interacts with sdkman installations though.
using a manual check instead of the homebrew provided one sounds even more bri

[2018-03-12 07:43] francisdb commented on #156
I guess this can be closed?

[2018-03-12 14:40] megri commented on #220
Hmm, interesting. Could be that sdkman doesn't integrate with `/usr/libexec/java_home`, or that something is wonky with my OS installation: when I run it I get null.

I agree with your assessment; using the java_home executable should be the best approach, it's just that it's not working in my case. I'll see if I can find a reason :)

[2018-03-13 04:02] AlexITC opened #222 "publish task failing"
While using `mill 0.1.4`, the `publish` task is failing when passing `--release true`, passing `false` is working.

I was been able to do the publish the artifacts using `mill 0.1.2`.

The command is `mill __.publish --release true ...`.

I went to sonatype to look for more details and found that some tasks failed, it seems to be caused by `mill`:
![sonatype-error](https://user-images.githubuserco

[2018-03-13 06:07] DavidGregory084 commented on #222
I think this is fixed in master by #198

[2018-03-13 11:38] francisdb opened #224 "Non-interactive mode hangs on JDK9"
Mill `0.1.5`
`MacOS`
I have a helper to switch JAVA_HOME env vars

[code]

[2018-03-13 12:19] seoh opened #225 "mill doesnt response after 0.1.2 on WSL"
I tried to run just single Hello World code.

// foo/src/Main.scala
[code]

0.1.0 and 0.1.1 can compile and run. 0.1.2(and after versions) doesnt work but interactive mode works.

![image](https://user-images.githubusercontent.com/2159453/37341066-87c123c0-2703-11e8-9ba2-63913448f6aa.png)

I tried same steps from lastest source(master branch) but still not work as 0.1.2.
Did I miss something to do

[2018-03-13 14:03] francisdb opened #226 "ivyDepsTree does not show transitive dependencies"
[code]

but this module also depends on akka through transitive `moduleDeps` `ivyDeps`

On a side note
logentries-appender also has transitive dependencies, but these seem to be marked as optional (http://search.maven.org/#artifactdetails|com.logentries|logentries-appender|1.1.38|pom)

[2018-03-13 14:38] francisdb commented on #211
I made it even worse by adding more dependencies to other versions of akka

On the modules level
`logging` depends on `core`

On the ivy level
`core` has a direct dependency on `akka-actor_2.12-2.5.4`
`core` has a transitive dependency on `akka-actor_2.12-2.5.3`
`logging` has a dependecny on `akka-actor_2.12-2.5.11`

but when I do the following
[code]

Using sbt `akka-actor_2.12-2.5.3` and `akka-a

[2018-03-13 16:12] lihaoyi commented on #225
Let's consolidate this under https://github.com/lihaoyi/mill/issues/157

[2018-03-13 16:12] #225 closed

[2018-03-13 16:12] lihaoyi commented on #157
Any windows Mill experts know about https://github.com/lihaoyi/mill/issues/157?

[2018-03-13 16:17] #222 closed

[2018-03-13 16:30] lihaoyi commented on #156
@francisdb no idea, I'll close it if @robby-phd says it can be closed :)

[2018-03-13 17:55] ashawley commented on #156
I don't get the NPE in 0.1.5 when interactive, but now I get the hanging behavior with non-interactive.

[2018-03-13 18:03] robby-phd commented on #157
@philwalk Try deleting `~/.mill` and `out` and use 0.1.5 and see if it works. Also, always use interactive (`-i`) mode in Windows for now.

[2018-03-13 18:04] robby-phd commented on #156
@ashawley Can you try https://github.com/lihaoyi/mill/releases/download/0.1.5/0.1.5-3-a9d4ee?

[2018-03-13 18:22] ashawley commented on #156
That version worked for me.

I wouldn't know if it's fast or slow, this is the first time I've used mill.

I wouldn't know if it's necessary or not.

[2018-03-13 18:22] #156 closed

[2018-03-14 08:06] francisdb commented on #224
Fixed in `0.1.6`

[2018-03-14 08:06] #224 closed

[2018-03-14 09:04] seoh commented on #225
I saw that issue and is not matched with my situation. I cannot explain my experience properly because of my poor English. I just give up :(

[2018-03-14 10:10] guersam commented on #157
Maybe not directly related to this issue, but there a few suspicious lines about windows support. I'm not working on windows so that I cannot test the fix locally, but I hope it would be helpful to a potential volunteer.

### `org.scalasbt.ipcsocket.UnixDomainSocket`

In `clientserver` package, only `UnixDomainSocket` is used for client-server communication:
  - [Server](https://github.com/lihaoyi

[2018-03-14 11:25] francisdb opened #227 "Add `mill clean`"
Would be more friendly for newcomers than `rm -rf out/` (always dangerous for typos and depends on work dir)

[2018-03-14 15:37] lihaoyi commented on #226
@francisdb you're probably going to have to dig through the code using ivy/coursier, debug this yourself, and explain to us the solution 😛 I know coursier as little as anyone else...

[2018-03-14 15:41] lihaoyi commented on #211
I don't really know any reason mill should allow it, but there might be bugs, hence `maybe`.

So you have a big 20+ module project; just delete everything you can while reproducing this bug. You shouldn't even need any source files present, just the `build.sc`, and it should be pretty quick to bisect.

Once the project is minimized, let me know and maybe the problem will be clearer

[2018-03-14 19:27] Dennis4b commented on #184
This issue caused me the occasional headache, so for anyone dealing with the same, pending the proper fix (more specific keying on hash keys?) for which I'm not familiar enough with the internals, you can use the following patch to have the offending cache restricted to the `out/` folder local to the project.

[code]
Incidentally @freewind, both `mill-issue1-demo` and `mill-issue2-demo` output `He

[2018-03-15 12:09] drhumlen commented on #131
Did you ever figure this one out? I'm experiencing `java.lang.IncompatibleClassChangeError: Implementing class` as well...

[2018-03-15 12:32] freewind commented on #184
@Dennis4b Thank you very much for pointing this out. I just checked the two repos, found I forgot to push the modified files, and just pushed them. It should be the correct output now.

[2018-03-15 15:11] siddhartha-gadgil commented on #131
No, and I confirmed earlier today that the bug persists in Mill 0.1.6 too.
It seems to be a clash of transitive dependencies - as my only dependency
was monix, if so it is some dependency of monix 3.0-M3 and Mill.

On Thu, Mar 15, 2018 at 5:39 PM drhumlen <notifications@github.com> wrote:

[2018-03-16 17:06] robby-phd commented on #157
Mill interactive and non-interactive modes should now work for Windows (#229, albeit only tested on MSYS2).

@philwalk and @seoh Can you confirm whether the latest mill commit release work for you:

https://github.com/lihaoyi/mill/releases/download/0.1.6/0.1.6-3-43d230

(please delete `~/.mill` (`%userprofile%\.mill`) and `out` directories first).

@guersam Thank you for writing down your suspicio

[2018-03-17 02:39] kelebra opened #230 "Windows installation steps and/or release are missing"
Hi, I might be missing something but are there anywhere installation steps/releases for windows?

[2018-03-17 04:16] #230 closed

[2018-03-17 04:16] lihaoyi commented on #230
questions go to gitter

[2018-03-17 07:44] seoh commented on #157
@robby-phd  Thanks but cursor is blinking forever again :(

[2018-03-17 09:32] gabro opened #231 ""Invalid signature file digest for Manifest main attributes" when running assembled jar"
I've tried running `assembly` on a project and when I try to run the produced jar with:

[code]

I get

[code]

I googled a bit and the reason seems to be that I have at least one dependency with a signed JAR. However, the JAR produced by sbt-assembly doesn't raise the same error, so I'm wondering whether Mill could handle this case.

I'm also willing to contribute a patch, if someone can point me

[2018-03-17 09:35] gabro commented on #231
Ah, I found where sbt-assembly explicitly manages it:

https://github.com/sbt/sbt-assembly/blob/2ff7635afc27a7d2255167dedf1d56a58fb8d651/src/main/scala/sbtassembly/MergeStrategy.scala#L137

The solution seems to exclude the signature files while merging

[2018-03-17 11:17] gabro opened #233 "assembly should allow configuring the merge strategy"
The `assembly` task doesn't allow to define a merge strategy for duplicate files across jars. This is needed - for example - for typesafe config `reference.conf` files, which usually need to be concatenated.

This issue doesn't allow me to use Mill on a project which uses akka, because the default akka `reference.conf` is not present in the final jar.

It would be cool for Mill to have a way of de

[2018-03-17 11:57] robby-phd commented on #157
@seoh I see; that's unfortunate. Note that WSL essentially emulates Linux inside Windows. Any issue in WSL that cannot be recreated directly in the Linux distribution that you are using inside WSL is really an issue with WSL itself; such an issue can be filed at https://github.com/Microsoft/WSL/issues so the team can hopefully use it to test WSL. Until then, you can run mill interactively (`mill -

[2018-03-17 11:57] #157 closed

[2018-03-17 16:35] #231 closed

[2018-03-17 17:28] philwalk commented on #157
I deleted ~/.mill and things look better now.  Thanks for looking into this!

[2018-03-17 17:28] philwalk commented on #157
I also am now working with version 0.1.6, btw

[2018-03-17 21:37] robby-phd commented on #157
Thanks for the confirmation. Note that mill's non-interactive (client/server) mode may fail intermittently on Cygwin as experienced in mill's recent AppVeyor test runs; this is now documented in the [current  readme.md changelog of the master branch](https://github.com/lihaoyi/mill/blob/fa14cde481561608476aadc62adc756961ab09bd/readme.md).

[2018-03-18 13:00] yuanqingfei opened #237 "Need include all javascript library automatically"
Mill seems have no such ability as SBT does. Currently I have to include js library in the html manually. Do we have some plan to generate a all-in-one javascript? Just like in SBT:
 jsDependencies +=  "org.webjars" % "jquery" % "2.1.4" / "2.1.4/jquery.js"

Thanks.

[2018-03-18 13:08] yuanqingfei opened #238 "How to add scalajs dependency in mill?"
forgive me if this question is too simple.

Currently I make it work like this:
  def ivyDeps = Agg(
    ivy"org.scala-js::scalajs-dom_sjs${scalaJSBridgeVersion()}:0.9.1",
    ivy"be.doeraene::scalajs-jquery_sjs${scalaJSBridgeVersion()}:0.9.1"
    //ivy"org.webjars:jquery:2.1.4"
  )

but it looks ugly. Anyone know better way or something similar in SBT?
libraryDependencies += "org.scala-js" %%% "s

[2018-03-18 13:54] guersam commented on #238
Have you tried `<org>:::<name>:<version>`?

https://github.com/lihaoyi/mill/blob/master/scalajslib/src/mill/scalajslib/ScalaJSModule.scala#L146

[2018-03-18 14:01] yuanqingfei commented on #238
Yes, I tried. It only affect scala version from 2.12 to 2.12.4

[2018-03-18 14:10] ryan-williams opened #241 "quick-start issues"
Working through [Getting Started](http://www.lihaoyi.com/mill/#getting-started), filing a couple wrinkles here to avoid excessive issue-spam:

(I used `brew install mill` to get mill `0.1.6`)

## Interactive Mode

[code]

Seems like the `foo.console` and `foo.repl` example commands need a `-i`

## `ammonite-shell` resolution failure

[code]

Maybe there's a resolver I need to add?

## How to query

[2018-03-18 14:16] guersam commented on #238
Ok, then how about ` <org>:::<name>::<version>`? (two colons before version) If I read the source code correctly, it'll append the platform-specific cross version suffix to the module name.

[2018-03-18 14:23] yuanqingfei commented on #190
I used 0.1.6 now. Yes, it can detect standard main class automatically. However, if you still use old style like below.

object ScalaJSExample extends js.JSApp{
  def main() { ...}
}

currently, Mill still can compile successfully since scala.js 0.6.22 still have JSApp object. However, in run time, it will don't output anything which somewhat misleading though.

[2018-03-18 14:27] yuanqingfei commented on #238
Great! it works. Thank you. Guersam!

[2018-03-18 14:31] yuanqingfei commented on #241
yeah... agree that need support 'mill -v' or 'mill -version'

[2018-03-18 14:49] lihaoyi commented on #237
We're probably not going to support it directly, though you write some code to do this on your own

[2018-03-18 14:49] #237 closed

[2018-03-18 14:50] lihaoyi commented on #233
Yeah it probably should

[2018-03-18 14:50] lihaoyi commented on #238
Questions in the gitter room please

[2018-03-18 14:50] #238 closed

[2018-03-19 08:59] gabro opened #244 "Propagate javacOptions in Tests module"
I think it would make sense to propagate the `javacOptions` value of a `ScalaModule` down to its `Tests` module by default.

I've tried to include it in https://github.com/lihaoyi/mill/pull/236, but it resulted in [an obscure CI error](https://travis-ci.org/lihaoyi/mill/jobs/355254688), which I was not able to reproduce on my machine.

I don't have time to work on this, but since I've already spen

[2018-03-19 16:04] shengc opened #245 "how to exclude transitive dependency"
for example, in sbt

[code]

how do I do the same in `mill` ?

[code]

[2018-03-19 16:08] shengc commented on #245
There is already issue opened for this: https://github.com/lihaoyi/mill/issues/214

[2018-03-19 16:08] #245 closed

[2018-03-19 16:57] shengc opened #246 "mill does not honor the custom repositories at global scale"
in `sbt`, I can override the default repositories by setting
[code]
so I can pass in a list of custom repositories for the entire build.

For `mill`, although documentation suggests one can override the repositories through the `repositories` task, the initial dependencies needed to boostrap the build are still resolved through the default repositories.

[code]

I am behind a proxy, so in order to

[2018-03-19 17:03] lihaoyi commented on #246
@shengc can you try following the instructions [here](https://github.com/lihaoyi/mill/issues/187#issuecomment-370108695)? That should let it work, and if it works for you help me add it to the documentation somewhere :)

[2018-03-19 17:03] #246 closed

[2018-03-19 17:39] shengc commented on #246
@lihaoyi yep that works. I can send a PR to update Readme.md after hours.

[2018-03-19 22:10] shengc commented on #246
@lihaoyi for `import $ivy`, the custom repositories still does not work. The following can download the dependencies

[code]

However, the downloaded dependencies are not added to the build.

[2018-03-20 04:17] lihaoyi opened #249 "Add a fullOpt version of ScalaJSModule#run"
Not hard, just need to copy what we did for the `fastOpt` version of `run`
[code]

[2018-03-20 14:11] shengc commented on #246
@lihaoyi if I pass in the revolvers through `--predef` to `mill`, then `import $ivy...` works. Is there any initialization misconfiguration lurked in the code ?

[2018-03-20 16:35] shanielh opened #250 "add `ivyWhatDependsOn` command"
Hi!

I've added `reverseTree` capabilities to coursier and I want to add `ivyWhatDependsOn "module"` command, but I'm not sure where to start to upgrade the version of coursier to 1.0.3 (already published to maven).

Thanks.

[2018-03-20 20:56] rockjam opened #251 "java.lang.SecurityException: Prohibited package name on java 9"
On java 9 there is a SecurityException occurs in tests. For instance on play-json build(in tests):

[code]

Details are here: https://travis-ci.org/rockjam/play-json/jobs/356007000#L869

Same build works fine on java 8

[2018-03-20 21:07] antonkulaga opened #252 "explain cross-library publishing"
It is quite common for Spark and hadoop dependent libraries to publish not only for different versions of Scala but also for different versions of spark+hadoop. I would appreciate if it will be explained in docs how to do this.

[2018-03-20 21:10] lvauthrin commented on #201
I'm trying to see if I can pickup this task but I'm not sure what is wrong.  I changed [GenIdeaTests.scala](https://github.com/lihaoyi/mill/blob/107ba88754673e08b030b9ba1c8f4e6f1eefd13d/scalalib/test/src/mill/scalalib/GenIdeaTests.scala#L13) to use an `SbtModule` and that required me to update the test [resource file](https://github.com/lihaoyi/mill/blob/107ba88754673e08b030b9ba1c8f4e6f1eefd13d/sc

[2018-03-20 21:24] shengc commented on #250
I think `coursier` comes transitively via `ammonite` from [here](https://github.com/lihaoyi/mill/blob/master/build.sc#L72)

[2018-03-20 22:28] rockjam commented on #252
@antonkulaga You can check out an example in tests: https://github.com/lihaoyi/mill/blob/46c516893a641a283f11a46f5c45a5cf1b4af373/scalajslib/test/src/mill/scalajslib/HelloJSWorldTests.scala#L28
+1 for having this in docs.

[2018-03-20 22:41] antonkulaga commented on #252
I think it can be a big selling point for Mill because there is a huge amount of spark/hadoop based libraries that have a big paying with spark/hadoop related cross-publishing (as sbt supports only scala-version based publishing, but not publishing different versions of lib for the same Scala version)

[2018-03-21 09:51] rockjam commented on #251
Got more details. It happens only in tests. Will check class loading related things in tests

[2018-03-21 10:29] rockjam commented on #252
Do you have an example of open source spark/hadoop based libraries that can be used as an example?

[2018-03-21 10:33] antonkulaga commented on #252
ADAM ( https://github.com/bigdatagenomics/adam/ ). Currently, they build with maven, but there were attempts to port it to sbt

[2018-03-21 13:55] ror6ax commented on #249
Because method and parameter are the same, I don't suppose we can just copy the method. Did you mean something like renaming run to runfullopt and runfastopt? Or some conditional based on args?

[2018-03-21 15:36] francisdb commented on #211
I created a very simple reproducer (just the build file needed) here: https://github.com/francisdb/milltest

Direct dependencies are deduplicated, transitive ones are not

[2018-03-21 16:14] francisdb commented on #211
the main issue seems to be here
https://github.com/lihaoyi/mill/blob/cb30f1c42c818b2a2b1e216823ca09c8430da5f9/scalalib/src/mill/scalalib/ScalaModule.scala#L175

You can't just use the `upstreamRunClasspath`, it needs to be re-resolved together with the current module dependencies to make sure there are no duplicates.

[2018-03-21 16:23] francisdb commented on #226
This is probably related to #211

[2018-03-22 13:26] rockjam commented on #251
Found it: https://stackoverflow.com/a/46494286

Will update PR with this knowledge

[2018-03-22 16:00] lihaoyi commented on #211
@francisdb nice find, yeah we probably should restrict `upstreamRunClasspath` to `compile` `resources` and `unmanagedDependencies` only, since `ivyDeps` and friends will all get aggregated separately and resolved using coursier. Can you send a PR?

[2018-03-22 16:03] francisdb commented on #211
I fear I don't feel enough at home with all these scopes and dependencies to be able to fix this.

[2018-03-24 12:23] Baccata opened #257 "System.getEnv does not update between different runs"
This is most likely a downside of keeping a daemon jvm, but it makes it impossible to use environment variables as inputs.

Maybe the mill launcher should pass the full environment to the program as a hidden parameter, which would allow for mill to provide a default `Map[String, String]` input ?

[2018-03-25 08:36] #251 closed

[2018-03-25 16:12] antonkulaga opened #258 "mill does not stop running processes when ctrl+c"
When I run any server-like application with Mill (like https://github.com/siddhartha-gadgil/MillScalaServer ) by
[code]
and then do CTRL+C to go out of Mill, it does NOT close the app that is running (at least on Linux Mint/Ubuntu). In fact in the console it says "[1]+  Stopped                 mill server.run" but in reality localhost:8080 still loads the akka-http app.

[2018-03-25 21:19] antonkulaga commented on #227
It would be great to have it as a project-based command. I often get caching-linking problems with mill ScalaJS projects and it is way faster to clean the scalajs project out by mill command rather than going to appropriate place in out with bash

[2018-03-26 01:05] antonkulaga opened #259 "make intellij idea generation easier to call"
Generation of idea files is what I have to do all the time when changing my build. However, it is hard to memorize and type without mistakes current:
[code]
I suggest making the method easier to access. Maybe something like
[code]

[2018-03-26 03:34] hepin1989 commented on #259
`mill genIdea` or `mill genEclipse`

[2018-03-26 22:37] DavidGregory084 commented on #252
See also the discussion here typelevel/cats#2130 about cross-building cats against various combinations of Scala and Scala.js versions

[2018-03-27 00:01] NightMachinary commented on #259
I suggest making an alias in your shell.
`alias milli="mill mill.scalalib.GenIdeaModule/idea"`

[2018-03-27 02:56] lihaoyi commented on #258
@antonkulaga maybe try `mill server.runLocal` for now? Mill forks by default and I'm not sure how easy it would be to make it close down child processes when it dies

[2018-03-27 16:09] lihaoyi commented on #184
Found the bug. The problem is that Ammonite caches imported scripts based on their content hash and their package path:

[code]
That means that if you have multiple build scripts which are identical but whose output (e.g. `demo.sources`) depend on the working directory, the output will be cached incorrectly across the build scripts.

Simple solution is to add the current working directly to the ca

[2018-03-27 17:23] Dennis4b commented on #184
Great, thanks!

This reminded me to ask to clarify: what is actually the policy on running multiple instances of mill?

I imagine running it twice in the same working directory might cause problems, but it would be unexpected if running mill in different paths (projects) would cause problems - but since both instances do share a global cache dir I could imagine it's problematic. Or does mill/ammon

[2018-03-28 03:31] #214 closed

[2018-03-28 03:40] #211 closed

[2018-03-28 08:30] megri commented on #220
I'll close this issue as it seems most tools require that /usr/libexec/java_home returns a valid value.

[2018-03-28 08:30] #220 closed

[2018-03-28 08:35] francisdb commented on #211
@lihaoyi I can confirm this to be fixed!

[2018-03-28 08:38] francisdb commented on #226
Not fixed by #211
`mill show loggingLogentries.compileClasspath` contains more than the dependencyTree

[2018-03-28 10:56] lihaoyi commented on #184
Bumping Ammonite to https://github.com/lihaoyi/Ammonite/commit/33b728c0d4abd906a5f4e369022fd6c338d6dd07 should fix this.

@Dennis4b we don't have a real policy.

Running multiple Mill things in parallel in the same repo may stomp over each other, or they may not. Shouldn't be hard to lock things, hopefully at a fine enough grain we don't unnecessarily block parallel Mill commands (this is a big us

[2018-03-28 11:59] #184 closed

[2018-03-29 15:34] shengc opened #265 "make `interp` part of the `Module`"
Or at least, make `interp.repositories()` the default choice of `Module.repositories` and `Module.scalaWorker.repositories` _unless_ it is empty. This way if somebody wants to globally reset `repositories`, he/she can specify the custom set in `predef.sc`.

[2018-03-29 18:01] dragos opened #266 "Port sbt-native-packager to Mill"
I don't know how to describe it better than that. A simple way to generate and package runnable applications. As a first step:

- generate runner scripts for Linux/Mac/Win (Bash is sufficiently portable that in practice there are only 2 runner scripts)
- generate a simple layout that can be zipped or targz:
  - bin/(runner.bat/sh)
  - lib/ all application jars + their dependencies
- package the sa

[2018-03-29 21:41] rockjam commented on #266
@dragos Made a quick prototype of what you need. You can check it out here: https://github.com/rockjam/mill-package-it . Task itself is pretty straightforward.
 https://github.com/rockjam/mill-package-it/blob/master/build.sc#L16
The most awkward part is `packageSelfModules` task, cause it combines several other tasks via `Task.traverse` and `Task.zip`

[2018-03-29 22:59] rockjam commented on #173
@francisdb Do you use the same version of `specs2-mock` in both mill and sbt version of build?

[2018-03-30 01:20] robby-phd opened #268 "Mill after 0.1.7-8-b913c6 cannot build itself properly"
Stumbled upon this when working on #262 so documenting it as an issue: changes between 0.1.7-8-b913c6 and 0.1.7-19-680364 cause mill not to be able to build itself properly; the resulting mill gives the following error trace when compiling itself:

[code]

See the [test-up](https://github.com/lihaoyi/mill/commits/test-up) branch's [appveyor](https://ci.appveyor.com/project/lihaoyi/mill/build/1.0.2

[2018-03-30 07:35] francisdb commented on #173
@rockjam yes same version but will first do another test now that #211 is fixed

[2018-03-30 07:38] rockjam commented on #173
I see. It looks like mockito is special in some regard, and it resolves differently from other libraries. You can check once again, but I'm pretty sure that this problem still persists

[2018-03-30 07:53] francisdb commented on #173
Confirmed to still be an issue. I guess coursier needs some extra config to include `runtime` scoped dependencies when mill is building the `runClasspath`

[2018-03-30 07:59] francisdb commented on #266
+1 if this includes Docker support

[2018-03-30 08:01] rockjam commented on #266
What is docker support exactly? An ability to generate Dockerfile?

[2018-03-30 08:05] rockjam commented on #173
Yes, it seems so, however coursier cli handles mockito with runtime scoped dependencies nicely. I think that mill misses something in coursier integration code. I will look into it

[2018-03-30 08:44] francisdb commented on #266
might be better to create a separate ticket for this
https://sbt-native-packager.readthedocs.io/en/stable/formats/docker.html

This takes care of building a docker image for your project. `sbt docker:publishLocal`

[2018-03-30 13:03] antonkulaga commented on #258
@lihaoyi server.runLocal has similar problem :( Often it does not stop akka-http app (esp. if several pages are loaded in the browser) when CTRL+C

[2018-03-30 18:36] philwalk opened #269 "unable to resolve transitive dependency for pdfxstream-3.1.1"
I have a project that I'm trying to convert from sbt to mill.

Here's my complete build.sc file:
[code]
Here's what I get when I try to compile:

[code]
Here's where pdfxstream is in my ivy cache:
[code]
It may be a coincidence, but this particular pdfxstream jar requires special handling to avoid problems in my sbt build;  I have to add  "-Yresolve-term-conflict:object" to scalaOptions in order t

[2018-03-30 18:38] rockjam commented on #269
Thanks for report. Will take a look at this one

[2018-03-30 20:46] rockjam commented on #266
@dragos updated a build with the cross building example: https://github.com/rockjam/mill-package-it/blob/master/build.sc#L7

[2018-03-31 13:19] robby-phd commented on #268
@lihaoyi and @shengc, seems like #254's a4713c3 is the culprit.

In the [test-self](https://github.com/lihaoyi/mill/commits/test-self) branch, I made `test-mill-release.sh` to build mill [3 times recursively (instead of 2 times)](https://github.com/lihaoyi/mill/commit/45cbb2eeb252c842bca7fb4b0e4db11612f16349) before running the test, resulting in the above error *during compilation* (see [travis #

[2018-03-31 19:44] rockjam commented on #173
@francisdb this issue is addressed by https://github.com/lihaoyi/mill/pull/270

[2018-03-31 19:57] rockjam commented on #153
@freewind I wasn't able to reproduce this issue. Can you confirm that it's still there on the latest release version of mill? (0.1.7)

[2018-04-01 17:13] #173 closed

[2018-04-01 18:09] rockjam commented on #173
@francisdb should be fixed in mill `0.1.7-28-bbd162` . Try it out

[2018-04-01 23:16] antonkulaga opened #272 "in ScalaJSModule.fastOpt linker goes crazy"
I have huge issues with ScalaJS linker in Mill.
In the following project ( https://github.com/antonkulaga/GEOmetadb-scala/commit/26547a32095ff7b65ea1d19b68acc4332d1084ef ) I get weird linking errors whnever I do mill client.fastOpt (inlcuding running on clean builds). Here is the trace. The classes that it cannot find exist inside shared.js Module:

[code]

[2018-04-02 05:50] lihaoyi commented on #268
@robby-phd feel free to revert it if that fixes bootstrapping

[2018-04-02 06:02] lihaoyi commented on #268
@robby-phd https://github.com/lihaoyi/mill/pull/254 has been reverted

[2018-04-02 07:02] lihaoyi commented on #268
I suspect https://github.com/lihaoyi/mill/pull/254/files#diff-30112550a1f0d3b2fb7d9d59c21bf5aaL44 is the mistake in #254

[2018-04-02 09:14] rockjam commented on #272
@antonkulaga can you provide build.sc file from https://github.com/antonkulaga/GEOmetadb-scala ? Cause I don't see any build file right now

[2018-04-02 09:30] antonkulaga commented on #272
@rockjam sorry, did not notice that *.sc accidently got into .gitignore and was not pushed. I am going to fix it and push today. The problems are quite misterios there

[2018-04-02 09:51] rockjam commented on #272
Ok, thank you

[2018-04-02 13:25] robby-phd commented on #268
I added a ci bootstrapping test in f972d71 to help avoid against this kind of issues in the future, e.g., if @shengc (or someone else) wants to revive #254.

[2018-04-02 13:25] #268 closed

[2018-04-02 13:33] shengc commented on #268
@lihaoyi @robby-phd is this more of a revelation of a problem ... ? if dependencies carried for `mill` build does not have any "exclusion" sort of logic, https://github.com/lihaoyi/mill/commit/f972d712c76bc19c158ea77084abdcbf520d762e should have no effect.

[2018-04-02 13:52] robby-phd commented on #268
@shengc It is a possibility; I'm not familiar with that part of mill codebase so @lihaoyi can comment on this more authoritatively. If it is indeed there is an underlying issue, #254 can be revived once that issue is fixed. (I'm actually using the exclusion feature in some of my projects, which is handy.) For now, I think mill should always be able to bootstrap itself so we have some confidence wh

[2018-04-02 14:18] antonkulaga commented on #272
@rockjam I updated the configuration. Now I have another problem, fastOpt and fullOpt cannot find the MainClass (although it does compile) https://github.com/antonkulaga/GEOmetadb-scala/blob/master/build.sc

[2018-04-02 14:43] Dennis4b opened #273 "Version conflicts and evictions when combining submodules"
Hi,

*edit:* this is quite a roundabout way to describe it, see second message

I am not sure if this is the intended behavior or not, but it has caused me some issues so I'd like to clarify.

Making a testcase takes some time so hopefully the following explanation suffices:

Suppose that in my main app definition (a plain ScalaModule) my `ivyDeps` depend on `org.typelevel cats-core 1.1.0` and on

[2018-04-02 15:06] Dennis4b commented on #273
A more straightforward example, only using `cats-effect` as an example, it's about the conflicting versions:

[code]

gives (correctly)

[code]

and

[code]

gives (unexpectedly, at least to me):

[code]

[2018-04-02 16:31] shengc commented on #268
@robby-phd I have found the problem and opened PR #274

[2018-04-02 16:42] rockjam commented on #272
@antonkulaga found one of the reasons of failure https://github.com/antonkulaga/GEOmetadb-scala/pull/1

[2018-04-02 18:48] francisdb commented on #273
I think this is a duplicate of #211 which was fixed recently (but not released yet)

[2018-04-02 18:53] Dennis4b commented on #273
Ah yes it appears to be. Sorry, didn't see it among the (open) issues. Great that it's fixed!

[2018-04-02 21:51] antonkulaga commented on #258
Looks like runLocal and CTRL+C does not stop mill process and after some time of running/stopping/editing/compiling/running I get more than 5 and have to kill them manually.

[2018-04-02 22:48] julianmichael opened #275 "Console fails when using Typelevel Scala with monocle-macro"
I'm porting a project over to Mill (using 0.1.7) from SBT and I'm having issues running the `console` command, which is important for my project.

I've isolated the problem to the following `build.sc`:
[code]
When I run `mill -i foo.console`, right when the scala console starts up, it spits out:
[code]
with a long stack trace, followed by another error with the same message and another long stack

[2018-04-02 22:54] rockjam opened #276 "Built-in task to show mill version"
There should be some embedded task to check mill's version. We could implement it as ExternalModule, available for all mill users like GenIdea module.

How to find out mill's version:
[code]

[2018-04-02 23:08] rockjam opened #277 "Regression in scala.js linking"
For example in project https://github.com/antonkulaga/GEOmetadb-scala while running `mill web.client.fastOpt` on version above 0.1.7(need to find specific version) there is linking error involving missing `scala.xml.NodeBuffer.$$amp$plus` method. Stack trace:

[code]

Seems that this regression is introduced in 25b321ea9431590d5852366585f1691717651fea , need to investigate it further

[2018-04-02 23:09] rockjam commented on #272
Closing this in favour of https://github.com/lihaoyi/mill/issues/277

[2018-04-02 23:09] #272 closed

[2018-04-02 23:20] julianmichael commented on #275
Ah actually I discovered another problem which shows that `monocle-macro` isn't working properly. While compilation worked fine, when I tried to `publishLocal` my project which made use of the macros, it failed, complaining about missing members (particularly the lenses which were supposed to be generated by the `@Lenses` macro). So something is going wrong there.

[2018-04-02 23:50] rockjam commented on #277
I think that it broke in 25b321ea9431590d5852366585f1691717651fea cause in a4713c3842c91a914cbc0ccd1f57339fa030f676 linking works fine

[2018-04-03 00:25] antonkulaga commented on #277
0.1.7 looks fine, the problem is in master

[2018-04-03 19:09] francisdb commented on #173
I can confirm this is fixed on master 👍🏻

[2018-04-03 21:24] rockjam opened #279 "Rename `root` module in GenIdea"
`mill mill.scalalib.GenIdeaModule/idea` alongside with user modules generates root module - the module of the build itself. However when there is a user-defined module with name root(which can be a common module name for single-module projects), IDE integration goes crazy. I propose to rename build's module from root to `{directory-name}-build` or something similar.

[2018-04-03 21:57] antonkulaga commented on #258
Here is what I often have after several runLocal and CTRL+C
![mill_processes](https://user-images.githubusercontent.com/842436/38278037-27cf6066-37a3-11e8-833a-348cb5b58b3a.png)

[2018-04-04 01:54] lihaoyi commented on #276
`version` should probably be a built in task on `MainModule` rather than an `ExternalModule`, given it's so simple

[2018-04-04 01:54] #273 closed

[2018-04-04 02:02] lihaoyi commented on #275
@julianmichael could you be missing this?

[2018-04-04 02:03] lihaoyi commented on #265
This seems reasonable

[2018-04-04 02:04] lihaoyi commented on #265
Getting it the default choice for `Module.scalaWorker.repositories` might be hard though; the default `scalaWorker` gets defined globally, while `interp` is scoped to a particular build run.

[2018-04-04 02:09] julianmichael commented on #275
@lihaoyi It fails with that as well. I did
[code]
I happened to remove it while making the example "minimal," but yeah should have left it in there. The failure is the same.

I'm a little unclear on exactly how the : and :: and ::: work in the `ivy` thing, because they seem to be a bit different from sbt's %, %%, %%%, but I kinda played with it until the dependency seemed to work...

[2018-04-04 03:09] lihaoyi commented on #279
sounds good

[2018-04-05 01:43] shengc commented on #265
is it possible to build in a macro to rewrite `build.sc` that overrides the `scalaWorker` with `interp.repositories` ?

[2018-04-05 07:34] ugoa opened #280 "Small suggestion on the decription text 'Your shiny new Scala build tool'"
Maybe it's just me, but the phrase `Your shiny new Scala build tool` makes `mill` sound like a toy project and it's just being developed for fun.
For me I am really looking forward to this tool going mature and eventually becoming a competitive replacement of `sbt`, so maybe the word can be less dramatic and point out some real advantages of mill over sbt. It would be great for devs to **really**

[2018-04-06 02:45] lihaoyi commented on #280
Let's continue this discussion in gitter

[2018-04-06 02:45] #280 closed

[2018-04-06 19:55] lihaoyi commented on #277
I can't even get past compilation on the latest Mill master without an error:

[code]

[2018-04-06 20:27] rockjam commented on #153
Closing this for now, will reopen if it still reproduces

[2018-04-06 20:27] #153 closed

[2018-04-06 20:34] lihaoyi commented on #276
https://github.com/lihaoyi/mill/commit/36eb8bd6bfd534d002b01f8800e4b5d896aa4e77

[2018-04-06 20:34] #276 closed

[2018-04-06 21:06] lihaoyi commented on #241
looks like we got everything

[2018-04-06 21:06] #241 closed

[2018-04-06 21:06] lihaoyi commented on #249
https://github.com/lihaoyi/mill/commit/55ec0b9532c6dabecd8816099a7f072711624397

[2018-04-06 21:48] ashlineldridge opened #281 "Adding additional Coursier repositories for build dependencies doesn't appear to work"
As mentioned here: http://ammonite.io/#import$ivy

In Ammonite you can add additional dependency resolvers as follows:

[code]

But doing the same thing in a Mill script produces:

[code]

It looks as though the added Coursier repository is not queried for the dependency?

[2018-04-06 22:03] lihaoyi commented on #281
You need this for both Ammonite and Mill:

[code]

This splitting `@` is a bit confusing; we might be able to come up with a different syntax that isn't so confusing, but this is the state of the world right now

[2018-04-06 22:03] #281 closed

[2018-04-06 22:32] #249 closed

[2018-04-07 00:16] lihaoyi commented on #244
https://github.com/lihaoyi/mill/commit/26865c6623d57b7a5d774c7bbfe5897609e11acf

[2018-04-07 00:16] #244 closed

[2018-04-07 00:42] lihaoyi commented on #275
Seems the problem is that while you subbed out `scalaCompilerClasspath` & friends, other ivy deps are still pulling in the `scala-lang` compiler & library transitively

[code]

Not sure what the story around exclusions is for coursier, but I'm sure there's a way to force-exclude those

[2018-04-07 02:47] lihaoyi commented on #275
Provisional fix in https://github.com/lihaoyi/mill/commit/b9e9b6827da900a1c3565ebbd4a18f1657d6114c

[2018-04-07 04:28] lihaoyi commented on #275
This should be fixed in master, but you'll need to use a newly provided API to enable `org.typelevel` rather than what you're doing now:

[code]

[2018-04-07 04:28] #275 closed

[2018-04-07 04:36] lihaoyi commented on #226
Should be fixed by https://github.com/lihaoyi/mill/commit/b9e9b6827da900a1c3565ebbd4a18f1657d6114c

I can't reproduce it because there is not enough information here to repro; if it's still happening send a PR with a test case and I'll be able to fix it properly

[2018-04-07 09:01] julianmichael opened #282 "Macro expansion seems to fail when running Scaladoc"
Related to #275 (awesome fix by the way, thank you!) — macros seem to be expanded properly when executing `compile`, `run`, or `console`, but scaladoc is complaining about them being missing. This also causes e.g. `publishLocal` to fail since it relies on `docJar`. Minimal example:
`build.sc`:
[code]
`foo/src/Main.scala`:
[code]
Running `mill foo.run` prints out `bar` as expected. However, `mill f

[2018-04-07 14:28] doubaokun opened #285 "How to use exclude when adding ivy dependencies"
For example in sbt:

[code]

[2018-04-07 14:53] rockjam commented on #285
@doubaokun Try something like this:
[code]

In future better ask questions in gitter.

[2018-04-07 14:53] #285 closed

[2018-04-07 16:02] Bobo1239 opened #286 "Integration with ScalaCheck's test runner doesn't work"
I'm trying to use Mill with ScalaCheck's own test runner (complete example [here](https://github.com/Bobo1239/mill-scalacheck))
[code]
but running `mill foo.test` doesn't run any tests. @rockjam investigated this issue and concluded that it's a ScalaCheck-specific problem.

[2018-04-08 09:42] Krever commented on #166
This also affects `mill.scalalib.GenIdeaModule/idea`.

[2018-04-08 12:01] #282 closed

[2018-04-08 22:19] #257 closed, assigned to nobody

[2018-04-08 22:46] #286 closed

[2018-04-08 23:35] lihaoyi commented on #259
In master this is `mill.scalalib.GenIdea`, which helps a bit...

[2018-04-09 14:39] francisdb commented on #226
Please re-open, here is the requested reproducer:

Calling `ivyDepsTree` on both modules should give the same results but on `bar` the tree is empty

[code]

[code]

[code]

the compileClasspath for bar does contain the dependencies

[code]

[2018-04-09 21:31] #226 closed

[2018-04-09 22:28] grebe opened #293 "Current release cannot build master"
I get the following error message when I run `mill main.test`

[code]

I'm using the release on homebrew (0.1.7) which seems to match the latest release on github. Am I doing something dumb? Is there some other way to bootstrap mill?

[2018-04-09 22:36] ashlineldridge commented on #281
Thanks, @lihaoyi. That works. Do you have any doco on when the splitting `@` is required? Tried searching the Ammonite doco but couldn't find anything.

[2018-04-09 23:56] rockjam commented on #293
@grebe This is known issue, it should not be this way. But you can build mill from sources with mill version `0.1.7-77-44ed2e` and above. Manual installation is described here: http://www.lihaoyi.com/mill/#manual

[2018-04-10 04:10] lihaoyi commented on #293
I think it's not unreasonable to say "to build master, use the latest unstable release". Mill is probably going to need to re-bootstrap off recent unstable releases reasonably often as it evolves, and if we require bootstrapping off stable versions we'd just end up with a ton of tiny, meaningless stable versions.

CI will ensure that there's always *some* version of Mill that can bootstrap the cur

[2018-04-10 04:10] #293 closed

[2018-04-10 04:13] lihaoyi commented on #269
@philwalk do you have a working SBT build i can look at?

[2018-04-10 05:20] #250 closed, assigned to nobody

[2018-04-10 08:39] #143 closed

[2018-04-10 15:01] rockjam commented on #143
Is it already implemented in zinc?

[2018-04-10 17:44] philwalk commented on #269
I'll have to strip down my project so it doesn't have any private info ... might take a day or so

[2018-04-11 15:42] philwalk commented on #269
[millwork.zip](https://github.com/lihaoyi/mill/files/1899499/millwork.zip)

The attached file contains a project that demonstrates the problem.

sbt package # success
mill main.compile # failure

Let me know if you need anything else ...

Phil

[2018-04-11 16:53] philwalk commented on #269
Apparently it's in my local sbt cache, although it's no longer available otherwise.   I'll see if I can duplicate the problem using unmanaged jars in a lib directory.

Phil

[2018-04-11 18:55] philwalk commented on #269
[pdftext.zip](https://github.com/lihaoyi/mill/files/1900096/pdftext.zip)
Rather than make you wait until I figure everything out, here's a different (similar) project that works with sbt but not with mill.   However, I suspect the problem with the mill project may well be due to my not understanding entirely how to add something to the unmanagedClasspath.

[2018-04-11 18:57] lihaoyi commented on #269
Come on gitter and we can sort it out

[2018-04-11 18:57] #269 closed

[2018-04-13 21:48] Krever commented on #201
Can't say how related this is but I use sbt project layout and spotted an issue with directories marking.
I have a setup very similar to the following:
[code]
And the outcome of modules generation is presented like this:
![ss](https://user-images.githubusercontent.com/2219224/38759060-3d1fb17c-3f74-11e8-9bab-d4876359a1b1.png)
Because each directory is a home for two modules(normal and test) idea s

[2018-04-15 10:38] rockjam commented on #201
@Krever probably this is right thing to do. Will fix it in master

[2018-04-16 15:13] caeus opened #299 "Add ability to alias Modules (specially external modules)"
In the spirit of [issue 259](https://github.com/lihaoyi/mill/issues/259), wouldn't it be nice to give Mill the capability to alias commands and/or (external?) modules?
So if someone working creating an External Module with a long package name can therefore call an easy to remember alias than the whole package name plus slash plus target.

[2018-04-17 09:09] woky opened #300 "Documentation about remote binary dependencies"
There's no mention in documentation about adding remote third party dependencies (The Maven/Ivy ones). In some `build.sc` files I found on GitHub there's `def ivyDeps`. For newcomers like me, that's not intuitive. The documentation seem to focus only on command-line usage instead of writing the build files.

In SBT there's https://www.scala-sbt.org/1.x/docs/Library-Dependencies.html#Managed+Depend

[2018-04-17 09:12] francisdb commented on #300
Are you looking for this?
http://www.lihaoyi.com/mill/page/configuring-mill.html#adding-ivy-dependencies

I personally am not a fan of this `ivy` everywhere but the docs are there

[2018-04-17 10:48] woky commented on #300
Yeah that's it. Sorry, I missed that.

[2018-04-17 10:48] #300 closed

[2018-04-17 13:30] narma opened #301 "Repl command shouldn't eval ~/.ammonite/predef.sc"
My `~/.ammonite/predef.sc` is project independent file which contains imports of libraries for common daily use and it contain conflict libraries and/or versions with project libraries/versions use.

Probably this behaviour should be configurable at least.

UPD: I should clarify that ammonite's `predef.sc` is used when I execute `mill -i module.repl`. In my scenario this is not preferred behavior.

[2018-04-18 20:15] Baccata opened #302 "Non-bootstrapped tests might fail when building mill against java9"
Here's a minimal example that allows to reproduce the problem (make sure you're compiling using JDK 9) https://github.com/lihaoyi/mill/compare/master...Baccata:bootstrapping-issue?expand=1

Running `mill main.test` eventually yields to the following error :

[code]

The problem was found in this PR : https://github.com/lihaoyi/mill/pull/291.

I'll try and investigate further when time permits it.

[2018-04-19 21:46] #201 closed

[2018-04-19 21:47] rockjam commented on #301
Should be fine in 0.2.0. @narma may we close it?

[2018-04-22 16:19] coreyoconnor opened #303 "Feature: Ensime support"
Feature request to support ensime: http://ensime.github.io/

Likely similar user experience to IntelliJ support: A task that generates a `.ensime` file.

[2018-04-25 11:44] narma commented on #301
@Baccata I should clarify that ammonite's `predef.sc` is used when I execute `mill -i module.repl`. In my scenario this is not preferred behavior. I don't want global ammonite's predef in my project's REPL.

[2018-04-25 11:58] Baccata commented on #301
I'm no maintainer, but I no the codebase a bit and maybe I could have helped. As @rockjam (who is a maintainer) says, this should be fixed in version >= 0.2.0. Which version are you running ?

[2018-04-25 12:06] rockjam commented on #301
@Baccata we were actually talking about two different things.
First I thought that the issue is that `predef` of ammonite is used when you run `mill` itself, but it turns out that it happens only in `repl` command. This may for instance lead to a situation when there are conflicting versions of libraries in the classpath - one from your project's classpath and another from ammonite's `predef`

[2018-04-25 15:11] lihaoyi commented on #301
I think I'm going to call this a wontfix; Mill's Ammonite using `~/.ammonite/predef.sc` behaves the same as using Ammonite from SBT. If you wish to override the default, you can do so by `override`ing `def repl` and passing in the `--predef foo.sc` flag to point your predef at whatever file you wish

[2018-04-25 15:11] #301 closed

[2018-04-28 13:55] rockjam opened #304 "Assemble mill-client with graal native-image"
We can achieve faster startup time by making the native image of `mill-client` with graal. I didn't succeed from first attempt, as there were some limitation associated with methods calling classloader, and other stuff, but I think it worth to try

[2018-04-29 09:44] Baccata commented on #302
Referencing an arbitrary new class in the code wrapper rather than referencing a new field of a new existing class succeeds.

[2018-04-30 07:44] Baccata commented on #302
@lihaoyi, from what I gather, when`mill main.test` is called, the output of `runClasspath`gets fed to a ScalaWorker which starts as a subprocess, which in turn loads the tests and runs them in its own JVM.

The classpath appears to be propagated correctly in Java9, so I suspect some difference of behaviour in the classloader between java8 and java9.

Here's my question : the `worker` depends on `m

[2018-04-30 15:39] rockjam commented on #303
@coreyoconnor which editor features best ensime experience after emacs?

[2018-04-30 15:49] coreyoconnor commented on #303
According to the editor support matrix:

* http://ensime.github.io/editors/

Sublime looks to have the best support after emacs.

I only have experience with Emacs+Ensime so I can't contribute any experience on what is best after emacs.

[2018-04-30 17:36] Mogztter opened #305 "JavaCompileJarTests rely on localized message"
The following line is using a localized message:
https://github.com/lihaoyi/mill/blob/d86494099d7fca87ab1a8bf0b02ae305ad210d3b/main/test/src/mill/eval/JavaCompileJarTests.scala#L134

With a French locale, the exception message is: "impossible de trouver ou charger la classe principale".
In other words, if you are running the tests suite with a non English locale, the build will fail.

I think we s

[2018-04-30 20:48] #305 closed

[2018-05-01 03:59] lihaoyi commented on #302
`ScalaWorker` is meant to run tests in an isolated classloader with minimal leakage (basically only the SBT test interface)

https://github.com/lihaoyi/mill/blob/master/scalalib/src/mill/scalalib/Lib.scala#L210

could it be the way isolated classloaders work in Java 9 has changed?

[2018-05-01 07:42] Baccata commented on #302
I think I found the cause :  https://github.com/lihaoyi/mill/blob/8bd438bf84c1b221bcc122b3abe5d4ec37495071/core/src/mill/util/ClassLoader.scala#L47

To be honest I don't know what an appropriate solution would be, my knowledge of classloaders and the differences between 8 and 9 being very limited..

[2018-05-01 22:08] mlerner commented on #233
Any progress on this? This would be awesome to have and is actually a blocker to our team migrating off of sbt to `mill`.

@rockjam: I would would be happy to dig into the code and implement if you are busy

[2018-05-01 22:18] rockjam commented on #233
@mlerner I did some prototyping on this one, no PR yet, but I hope to create one in next couple days. You can join that PR and provide your help if needed, how about that?

[2018-05-01 22:46] alexarchambault commented on #233
FYI, if that can help, in coursier, there's [some code that generates assemblies](https://github.com/coursier/coursier/blob/5c6d719598ae6300ec90447997e264977c5990d1/cli/src/main/scala-2.12/coursier/cli/util/Assembly.scala#L38), supporting rules (with an example of rules [around here](https://github.com/coursier/coursier/blob/5c6d719598ae6300ec90447997e264977c5990d1/cli/src/main/scala-2.12/coursier

[2018-05-01 22:49] rockjam commented on #233
@alexarchambault thank you, will take a look

[2018-05-03 06:25] pnathan opened #310 "Allow specifying file paths to ignore"
emacs creates a `.#<filename>` symlink to a backup while it is working, along with the usual `foo~` convention for modified files.

I'd like to be able to specify

`def ignoredFiles = Seq(".*~$", "^\.#.+")`

similar to the idea of .gitignore.

I couldn't find docs on this, but maybe it's just late and I missed it!

[2018-05-04 21:37] guilgaly opened #311 "Generated Intellij project: output path is shared between production, tests"
I have created a mill build with a few modules, each of them with a nested test module. I have generated and opened an Intellij IDEA project with `mill.scalalib.GenIdea/idea`. If I try to run anything from within IDEA (rather than from mill), I get the following error for each test module :
[code]

This is apparently because the test modules have an output path, but don't have a test output path.

[2018-05-04 23:05] guilgaly commented on #311
I did some more tests; I also think that the `resources` folder in a test module should be declared as:
```<sourceFolder url="file://$MODULE_DIR$/../myModule/test/resources" type="java-test-resource" />```
And not:
```<sourceFolder url="file://$MODULE_DIR$/../myModule/test/resources" isTestSource="true" type="java-resource"/>```

The first one is what I get if I manually set the path for "test res

[2018-05-06 19:26] rockjam commented on #311
@guilgaly I guess we can close this?

[2018-05-06 19:26] #311 closed

[2018-05-06 20:07] guilgaly commented on #311
@rockjam sure, fine with me. 👍

[2018-05-08 04:13] jkstrauss opened #313 "NullPointerException - client.compile - Windows - GIt Bash"
I am getting the following exception when trying to build Mill using the Git Bash on Windows:

    client.compile java.lang.NullPointerException
    mill.scalalib.Lib$.compileJava(Lib.scala:38)
    mill.scalalib.JavaModule.$anonfun$compile$2(JavaModule.scala:121)
    mill.define.ApplyerGenerated.$anonfun$zipMap$3(ApplicativeGenerated.scala:9)
    mill.define.Task$MappedDest.evaluate(Task.scala:348

[2018-05-08 13:49] guilgaly opened #314 "Port sbt-updates to mill"
The [sbt-updates plugin](https://github.com/rtimush/sbt-updates) allows to check if there are newer versions available for a project's dependencies (from the project's configured Maven and Ivy repos). It should be pretty straightforward to reuse a lot of code from the SBT plugin (all the logic for understanding and comparing version numbers isn't SBT-specific and is licensed under BSD 3-clause).

[2018-05-08 13:57] rockjam commented on #314
Sound good to me to have it in mill main repo. Maybe coursier have a functionality to check for newer version, I don't know for sure

[2018-05-08 14:50] guilgaly commented on #314
I'll definitely check that out, but I don't expect so, since "newer" is a bit subjective (as Maven/Ivy don't really enforce a versioning scheme)... In practice, sbt-updates just tries to parse the version string against a bunch of known versioning schemes (like semver) and ignores anything it doesn't understand.

But even if we could just use coursier to resolve available versions, that would alre

[2018-05-08 15:38] alexarchambault commented on #314
Yeah, there's some basic stuff for that in coursier, around [here](https://github.com/coursier/coursier/blob/8427be2d453581b86e6b3aae8c581e6521e90e12/core/shared/src/main/scala/coursier/maven/MavenRepository.scala#L160) for Maven repositories, and [here](https://github.com/coursier/coursier/blob/8427be2d453581b86e6b3aae8c581e6521e90e12/core/shared/src/main/scala/coursier/ivy/IvyRepository.scala#L1

[2018-05-08 16:54] guilgaly commented on #314
@alexarchambault Thanks, I'll have a look!

[2018-05-08 19:12] lihaoyi commented on #314
+1 this sounds like something simple & useful enough to be worth including as part of Mill

[2018-05-08 19:46] antonkulaga commented on #277
Any progress on this? I keep getting this problem in Mill 0.2.0

[2018-05-08 19:57] rockjam commented on #277
@antonkulaga Not really. As I said - I tried to reproduce it, and sometimes it happens, sometimes everything is fine.

[2018-05-11 15:34] jkstrauss commented on #166
@lihaoyi I believe that the @ssokolenko wants to allow back-ticks in the script code, not at the CLI.

That being said, I think that it is quite reasonable to use a hyphen in a target name; subtraction, even if implemented, should probably only work with spaces between the identifiers.

I have been able to implement it with only a few lines of code, but I was wondering if you have an opinion about

[2018-05-12 16:48] ssokolenko commented on #166
@jkstrauss you got me right, I think it would be nice to have back ticks to work in the build scripts, not at the CLI. Thanks for noticing this!

[2018-05-14 03:05] MrPowers opened #320 "Exclude dependencies from assembly JAR files"
Here is how I exclude the Spark code from JAR files generated with SBT (`sbt assembly`):

[code]

Here is a snippet from a Mill `build.sc` file:

[code]

How can I specify that I don't want the Spark code to be included in the JAR file that's generated with the `mill foo.assembly` command?  Thanks!

[2018-05-14 16:33] antonkulaga commented on #277
It is a blocker for me :-( It ties me to the old Mill version Maybe it is possible to check what changed between last working version and last broken version? I think you did something about caching or similar there

[2018-05-14 17:09] antonkulaga commented on #314
Yeah, I really miss sbt-updates!

[2018-05-14 21:45] rockjam opened #324 "Play framework support - routes compiler"
To build play applications with mill we need to implement compilation of play routes. https://github.com/playframework/playframework/blob/master/framework/src/sbt-plugin/src/main/scala/play/sbt/routes/RoutesCompiler.scala

[2018-05-14 21:49] antonkulaga commented on #277
[code]

[2018-05-14 21:59] rockjam commented on #277
@antonkulaga did you build it with java 9? can you try to build it with java 8?

[2018-05-14 22:47] antonkulaga commented on #277
It was java10, Ok I will try to test old mill with java8 (mill 2.0 works well with java10).
Actually, the bug is quite easy to reproduce for me with mill 2.0
[code]

[2018-05-15 22:03] jkstrauss commented on #313
I figured out that this caused by the following line returning null:

    ToolProvider.getSystemJavaCompiler()

I think that this might be caused by the fact that this was moved from scalaworker to scalalib, but I have not nailed it down yet.

[2018-05-15 23:59] antonkulaga commented on #277
@rockjam  I managed to build with 25b321ea9431590d5852366585f1691717651fea and GenIdeaModule seemed to work. Will use it for one more day to see if it crashes anywhere (for mill 2 crash with mill mill.scalalib.GenIdea/idea is very reliable for me, but for that commit mill mill.scalalib.GenIdeaModule/idea did not lead to the crash)

[2018-05-16 04:17] lihaoyi opened #327 "Avoid killing mill daemon if Ctrl-C interrupt occurs during file-watching mode"
Currently, we kill the Mill daemon every time you Ctrl-C on the Mill client, as we do not want a useless background daemon running forever unnecessarily and we also cannot trust the JVM not to fall into a bad state using `Thread.stop` to interrupt the computation (in Ammonite the JVM does fall into a bad state sometimes, but since it's an interactive repl it's much easier to notice/remedy than if

[2018-05-16 04:19] #227 closed

[2018-05-16 06:28] francisdb opened #328 "mill version should work without build file"
if there is no build.sc

[code]

within project

[code]

was introduced here: https://github.com/lihaoyi/mill/issues/276

[2018-05-16 06:29] lihaoyi opened #329 "Avoid flushing caches when transitioning between --interactive and server-client mode"
Currently every time you switch, we go through a different code path to run Mill, and so caches get flushed and everything needs to be re-compiled. There is no reason for this to be the case so we should just fix it

[2018-05-16 06:34] lihaoyi commented on #328
This should be the case in master, try the latest unstable executable

[2018-05-16 06:34] #328 closed

[2018-05-17 14:02] bbarker opened #331 "Intellij run error: scalac: No 'scala-library*.jar' in Scala compiler classpath in Scala SDK"
I get this error: `Error:scalac: No 'scala-library*.jar' in Scala compiler classpath in Scala SDK scala-library-2.12.6-sources.jar` when trying to run a test (utest) in IntelliJ. I have added what seems to be the correct scala libraries under project structure, and restarted IntelliJ:

![image](https://user-images.githubusercontent.com/916366/40182440-642fa736-59b9-11e8-868f-a368121d4517.png)

[2018-05-17 14:06] bbarker opened #332 "Apparent blocking occurs when reading standard input when using `mill -i`"
As discussed on gitter `mill -i` should allow for standard input to be read in from code being executed by mill. However, when I tried this with [this minimal project](https://github.com/bbarker/ProjectGists/tree/master/Scala/readline_mill), it seems to hang/block when executing `readLine`.

[2018-05-17 17:47] ucbjrl opened #334 "docJar will fail with non-Java/Scala files in the source tree"
The `docJar` task feeds all files in the source tree to the relevant document generation step. This will fail if there are non Java (or Scala) files which cannot be parsed - notably `foo.scala~` which may be left around as a by-product of editing a file with merge conflicts.

[2018-05-17 21:38] bbarker commented on #332
In a bizarre turn of events, if you launch the scala console via mill, you can get early termination (type any key and `readPassword` will immediately return, followed by corrupted output to the console (multiple characters appearing for each key typed, etc):

[code]

However, `Util.readLine` seems to work here.

[2018-05-18 01:53] #334 closed

[2018-05-18 08:49] keynmol opened #336 "docJar fails if code depends on scalac options"
Simplest example:

[code]

[code]

This is because `docJar` doesn't pass plugin options to `ScalaDoc` call (`compile` passes):

[code]

[2018-05-18 21:18] #336 closed

[2018-05-19 16:37] #327 closed

[2018-05-19 17:52] lihaoyi opened #341 "Appveyor/Windows tests are flaky"
They seem to hang at arbitrary points before timing out at the 1hr mark.

Looking through the test history, the first such flake is at

- https://ci.appveyor.com/project/lihaoyi/mill/build/1.0.464
- https://github.com/lihaoyi/mill/pull/309

Which seems entirely benign and unlikely to cause such behavior. Since then it seems to have gotten even less stable...

@robby-phd any ideas what could be goi

[2018-05-20 00:28] lihaoyi commented on #329
This can be seen via:

[code]

[2018-05-20 00:43] lihaoyi commented on #329
Seems like the following files are included in the classpath signature scan as part of `--interactive` but not in client/server mode:

[code]

[2018-05-20 01:03] lihaoyi commented on #329
Here's the difference between the classloaders of `--interactive` and client/server:

Interactive:

[code]

client/server:

[code]

In the client/server setup, the JDK jars seem to appear twice: once in `sun.misc.Launcher$AppClassLoader`, and once in `sun.misc.Launcher$ExtClassLoader`

[2018-05-20 12:29] mdedetrich commented on #32
@francisdb Honestly as stated earlier, you would probably need to replace mill's `Task` with something else, I recommend Monix only because its got the most sensible out of the box defaults (i.e. its optimized for both CPU and IO bound tasks by using a batching mechanism). `Future` is by default optimized for IO bound tasks where as tasks such as Scalaz8/Cats IO are optimized by default for CPU bo

[2018-05-20 13:44] lihaoyi commented on #32
Mill's task is a free-applicative and it should be possible to do this without touching the `mill.Task` type at all; all the core changes for parallelism should take place in the `Evaluator`.

Whether the new "`ParallelEvaluator`" uses Future or Monix or Scalaz or Cats for it's parallelization logic is an internal implementation detail. If we need to tag our `mill.Task`s with some metadata to allo

[2018-05-20 17:48] MyIsaak opened #343 "Error: Cannot resolve $file import: /home/<user>/build.sc"
The following command `mill -i` outputs the error:
`Cannot resolve $file import: /home/myisaak/build.sc`

Expected a REPL from mill but program exits.

The whole log:
[code]

I installed the `mill-0.2.0-1` package from the AUR repo with no installation errors.

My environment is Arch 4.16.9-1 using zsh.

[2018-05-20 20:06] lihaoyi commented on #258
@antonkulaga could you also try `mill -i server.run`? I think that or `mill -i server.runLocal` should be a workaround for the problem

[2018-05-21 09:55] antonkulaga commented on #258
@lihaoyi  I think I already answered that it did not work unless you fixed something really recently

[2018-05-21 11:36] rockjam opened #344 "Unable to run a single test suite in ScalaTest"
Currently you can't run single test suite, or group of test suites from scalatest. Tried:
[code]

None of that worked.

`org.scalatest.tools.Framework`'s documentation says:

[code]

[2018-05-21 13:00] narma commented on #344
Yeah, I can provide stacktraces with my tries:

[code]

[2018-05-21 13:35] Baccata opened #345 "Make gpg passphrase optional in publish method."
My team uses a private artifact repository (artifactory) which exposes the same API as sonatype.

However, the signing of the artifacts is not required. I'd like to make the gpg passphrase optional in `PublishModule#publish`, or have another task (`publishWithoutSigning`) that would not require the passphrase.

Thoughts ?

[2018-05-21 14:50] rockjam commented on #345
What happens when you pass null?

[2018-05-21 14:56] Baccata commented on #345
[code]

[2018-05-21 15:02] rockjam commented on #345
I think that having optional gpg passphrase is reasonable

[2018-05-22 02:18] lihaoyi commented on #258
@antonkulaga previously the commands I suggested didn't have the `-i` flag in them; could you try the same commands with `-i` enabled?

[2018-05-22 03:16] lihaoyi commented on #345
Maybe we could give `publish` a separate flag `--signed false`? The reason is that there are three cases here:

- Signed with passphrase
- Signed without passphrase
- Unsigned

If we're going to change this we might as well make sure we handle all three cases

[2018-05-22 03:17] lihaoyi commented on #344
Maybe we can open an issue with ScalaTest asking that they turn these back on? I spent some time in the past trying to dig through the argument parsing code to see if I could send a PR but couldn't make head or tail of it

[2018-05-22 19:42] Baccata opened #347 "GenIdea/idea task should generate appropriate config from libs build.sc depends on"
If the build depends on external libraries (imported through `import $ivy`), the GenIdea/idea task should generate configuration for those libraries accordingly.

I assume the difficulty comes from the fact that the references to those libraries are not easily inspectable from the task. Maybe by looking at the classloader (ammonite has a SpecialClassLoader that keeps track of the urls of loaded ja

[2018-05-23 00:57] lihaoyi commented on #347
Perhaps Mill could ask Ammonite what jars it has loaded into the classpath by the time the script is running, and use those? Ammonite already tracks all this stuff, and it should accurately reflect what code you are able to utilize in your `build.sc` and related scripts

[2018-05-23 07:31] Baccata commented on #347
Is there an easy way to access ammonite's interpreter from mill ? My initial idea was :

* get class loader
* cross fingers and cast as SpecialClassLoader
* call `allJars` to get jar paths
* build library name from jar paths

but if we can replace the `get class loader` bit by a safe reference, it'd be great

Also, a quick look at the sources tells me that ammonite resolves the sources as well as

[2018-05-23 12:32] mdedetrich commented on #32
Okay, I will try and use Monix Task as the underlying execution engine without changing `mill.Task`, theoretically it should be fine but I guess we will find out

[2018-05-24 03:51] lihaoyi commented on #347
For now just grab the SpecialClassloader however you can; once it's working we can put a nice API in place for Mill to use

Yeah ammonite resolves sources to make the `source` builtin utility work.

[2018-05-24 07:42] Baccata commented on #345
Closing this as the problem it describes is solved. There is still a problem with publishing to artifactory with the default PublishModule. I need to have a closer look at how it's API differs from sonatype's API to formulate a new issue.

[2018-05-24 07:42] #345 closed

[2018-05-24 07:48] Baccata commented on #344
I'm using Specs2 and could not find an argument accepted by the runner that would support filtering sources. The documentation around that feature seems to assume sbt usage, and the sources gave me nothing. I tried to dig up what sort of mechanism sbt uses in the testOnly task, but gave up due to lack of time.

If there is some sbt machinery that allows for filtering tests regardless of the test f

[2018-05-24 10:17] rockjam commented on #344
Sounds good, will do

[2018-05-24 18:09] hepin1989 commented on #32
@mdedetrich I think put a stream/action/queue layer before the execution layer is more approachable. By leaving it before the underlying effect system. Then we could make the slow path more explicit, and give us more space for more optimization like fusing multiply action as a single batch operation to the same target(folder), which would help for the disk/SSD.

 In my code, not a building system,

[2018-05-24 18:18] hepin1989 commented on #32
@mdedetrich So I think there is no need to change the `mill.Task`, it's okay and carries metadata, Scalaz or Monix or another layer with ReactiveStream implement is both ok.I more like the last one. Once we lift the actions, we could do batching and fusing multi single-actions to the same data source as a batch operation(both read or write).

[2018-05-26 16:11] Mogztter opened #350 "Allow to configure the TwirlCompiler"
Currently it's not possible to override these settings:

* additionalImports
* constructorAnnotations
* codec
* inclusiveDot

The reason is that we are using reflection to call the method `compile` and this method is using default values:
https://github.com/playframework/twirl/blob/2f928ec6b245ef235a2bdbbd109df48bbf5463c5/compiler/src/main/scala/play/twirl/compiler/TwirlCompiler.scala#L167

To wor

[2018-05-27 11:50] Baccata opened #352 "GenIdea does not trigger target recomputation"
I found it whilst testing https://github.com/lihaoyi/mill/pull/351, and found that I had to call upon `mill __.ivyDeps` after adding/removing dependencies to my modules in order for the idea config to be generated appropriately.

Steps to reproduce :
* Generate idea config from mill
* Add/remove an arbitrary ivy dependency to one module
* Regenerate idea config (without running any other mill comm

[2018-05-28 11:37] antonkulaga commented on #277
I've just checked with mill 0.2.2, the bug is still there (while https://github.com/lihaoyi/mill/commit/25b321ea9431590d5852366585f1691717651fea works fine) and it 100% reproducible with mill mill.scalalib.GenIdea/idea (at least on my machine).

[2018-05-29 07:21] zartstrom commented on #258
I have the same issue (process not killed after CTRL+C) with a simple Finch HTTP server, but `mill app.runLocal` does help (even without the `-i` flag). I'm on mill 0.2.2.

[2018-05-30 10:46] saikocat opened #355 "Shade / Relocation of classes support"
I couldn't find any docs nor part of the source code to do this. Any chance for a write-up or wiki on this? Built-in JarJar support for assembly would be nice! Much appreciated! Thanks for an amazing build tool.

[2018-05-30 22:27] hmf opened #356 "Equivalent withSources() withJavadoc()"
I would like to download the sources and docs and have them accessible via the IntelliJ IDE.
In SBT I would use `withSources()` and `withJavadoc()` in the dependencies declaration. What is the equivalent in MILL.

TIA

[2018-05-30 22:35] rockjam commented on #356
Currently, there is no such API exposed externally, but `mill mill.scalalib.GenIdea/idea` downloads external dependencies with sources by default

[2018-05-30 22:42] hmf commented on #356
Does not seem to do this because when I access the class IJ warns me that no sources were found and that what it shows has been decompiled. Looking at the external jars, I see no sources. Maybe not the default? If so, is their a switch?

[2018-05-30 23:42] rockjam commented on #356
It is a default, this behavior is defined right here: https://github.com/lihaoyi/mill/blob/cb327ee2f04a5493d285b4e4dd04a89c96b7c23c/scalalib/src/mill/scalalib/GenIdeaImpl.scala#L96

I tried my own project and checked `mill mill.scalalib.GenIdea/idea` - it downloads and attaches sources to idea project definition.
What version of mill do you use?
Which of your libraries doesn't have sources - can y

[2018-05-31 03:59] siddhartha-gadgil opened #357 "assembly should allow merging files"
`akka-http` uses several `reference.conf` files in subprojects but mill's assembly includes only one file with that name. It would be good to allow merging files during assembly.

I have verified that this is the issue by manually including the code in all relevant `reference.conf` files in my `application.conf` in one project.

[2018-05-31 04:01] siddhartha-gadgil opened #358 "separate compiler options in docJar"
The option "-diagrams" is not valid at compile time, but at present there is no hook to add it as an option to docJar (additional options are only the ones automatically added)

[2018-05-31 04:33] lihaoyi commented on #357
dupe https://github.com/lihaoyi/mill/issues/233

[2018-05-31 07:11] hmf commented on #356
Using the latest version 0.2.2.

Ok, I I can see the sources jars in the external libraries folder. Don't know why I missed them before. Not all sources are there so I assume this is because they were not published.

Went back and right-clicked on the definition and got the same de-compile message.  I can "attach" the source and this works. I had assumed that the IDE would pick these up automatica

[2018-05-31 07:11] #356 closed

[2018-05-31 22:00] rockjam commented on #356
I remember the same behavior in sbt projects in Intellij Idea too. It happens sometimes

[2018-06-01 08:18] #233 closed

[2018-06-01 09:26] hmf commented on #356
Thanks @rockjam

[2018-06-01 11:28] rockjam commented on #266
@mkotsur I belive I mentioned that, maybe in gitter chat. I should write it more explicitly. But I think its not hard to change to relative paths

[2018-06-02 00:18] MikaelMayer opened #360 "Add `T.source` or make `T.sources` able to watch single files"
After browsing the code and using Mill on a non-Scala project, I figured out that if I give a single file to `T.sources`, its modifications are ignored. I am watching a particular file because we need to execute a python script every time this file changes.

I ended up writing:

    def examplesTemplates = T.input { (pwd / 'src / "ExamplesTemplates.elm").toNIO.toFile.lastModified() }

It would be

[2018-06-02 05:52] yangguang760 commented on #266
Hi all, sbt-pack has the feature of defining multi main classes and individual unmanagedClasspathes / vmArgs. The example is as following. This feature is similar to sbt-native-packer and looks more convenient.

[code]

[2018-06-02 09:32] yatanasov opened #361 "Adding unmanaged jars to a project not working"
I am having an issue when trying to add unmanaged jars to my project..
Has anyone seen this error:
[code]

This is how my build.sc looks like:
[code]

[2018-06-02 10:42] yatanasov commented on #361
Work-around:

` Agg.from(ammonite.ops.ls(millSourcePath / "lib").map(PathRef(_)))
`

[2018-06-02 16:53] lihaoyi commented on #361
That's the correct solution

[2018-06-02 16:53] #361 closed

[2018-06-02 17:03] #347 closed

[2018-06-04 15:11] jkstrauss opened #363 "Viisualize Task - Failing with Exception"
I have tried using the new visualize task, introduced in 0.2.3, but it keeps failing with an exception. I have tried using it on Windows and Linux, and I get the same problem.

Here is the stack trace:

    $ mill show visualize __
    [1/1] show
    [3/3] visualize
    SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
    SLF4J: Defaulting to no-operation (NOP) logger implementatio

[2018-06-04 15:35] lihaoyi commented on #363
Does a more restricted visualization work, e.g. `mill show visualize __.compile`?

[2018-06-04 15:36] lihaoyi commented on #363
seems to be https://github.com/nidi3/graphviz-java/issues/41

[2018-06-04 16:11] jkstrauss commented on #363
@lihaoyi I get the same result.

[2018-06-06 14:31] jkstrauss commented on #363
I added this to graphviz.ivyDeps:

     ivy"ch.qos.logback:logback-classic:1.2.3"

This in turn caused a problem on Linux that I solved based on eclipsesource/J2V8#34. I then added this to the graphviz.ivyDeps:

     ivy"com.eclipsesource.j2v8:j2v8_linux_x86_64:4.7.0-SNAPSHOT"
and this to graphviz.repositories (not sure how this would work if I was committing since it is platform-dependent):

[2018-06-07 03:42] lihaoyi commented on #363
@jkstrauss huh not sure =/ it works on my OS-X laptop...

[2018-06-09 18:13] ryan-williams opened #368 "Dependency on cats-core crashes console"
mill 0.2.2 via `brew`, empty project, `build.sc`:

[code]

## `mill -i test1.console`

works fine:

[code]

## `mill -i test2.console`

crashes after the opening prompt:

[code]

[full output](https://gist.github.com/ryan-williams/911e2c6c954341bcd99b2c6d1eb19d59#file-test2-console-fails)

## `mill -i test3.console`

also crashes after the opening prompt:

[code]

[Full output](https://gist.github

[2018-06-09 18:31] lihaoyi commented on #368
Looks like the problem is that cats is pulling in incompatible scala-reflect and scala-compiler dependencies and we are not properly filtering them out

[code]

[2018-06-09 18:49] #368 closed

[2018-06-09 18:50] lihaoyi commented on #368
Should be fixed in master:
[code]

[2018-06-09 22:11] lihaoyi commented on #368
@ryan-williams you can use the unstable release `0.2.3-11-e8c1a8` until we get around the tagging the next version

[2018-06-10 16:39] eryshev commented on #363
I've got another one in my freshly created project(running on OS-X laptop). I use Mill for like 30 minutes so maybe I missed some configuration thought :)
[code]

[2018-06-10 22:20] ryan-williams opened #370 "`zipfs` library classes missing from runtime classpath when testing"
(mill 0.2.3)

## Project Structure

`build.sc`:

[code]

`foo/test/src/Main.scala`:

[code]

`foo/test/src/Test.scala`:

[code]

## `mill foo.test.run` works

Prints:

[code]

## `mill foo.test` throws `NoClassDefFoundError`

[code]

## Notes
- I've tried to ask mill for relevant `runClasspath`s and `compileClasspath`s, but haven't seen leads for debugging this.
- It happens for all classes under

[2018-06-10 22:44] ryan-williams commented on #131
I was seeing what I think was the same problem, and it seems to have been fixed somewhere in between `0.2.3` and `0.2.3-12-440700`

[2018-06-11 01:19] ryan-williams commented on #370
I've found that these classes exist in the `ClassLoader.getSystemClassLoader`, but not in `Thread.currentThread().getContextClassLoader` or `getClass.getClassLoader`, which are the same instance of type `mill.util.ClassLoader$$anon$`.

I haven't figured out where in Mill the problem originates; `Jvm.inprocess` seems to `null` out the "parent" ClassLoader in a [few](https://github.com/lihaoyi/mill/

[2018-06-11 18:47] rockjam commented on #166
Closed by https://github.com/lihaoyi/mill/pull/362

[2018-06-11 18:47] #166 closed

[2018-06-12 22:53] megri opened #373 "Request: --watch mode should try to gracefully kill running apps, sbt-revolver style"
I had a look at this some time back but felt it was too involved for me to come up with a good solution.

Basically the watcher is blocking a thread which prevents—or so it seemed to me at least—any detection and termination of the ongoing process, from the context where the process handle is available.

[2018-06-13 07:52] megri opened #374 "`assembly` task fails with exception if `resources` contain direct path to file"
It seems like assembly assumes that every file is jar: https://github.com/lihaoyi/mill/blob/c7c91451435a113f61f3324eeb5024cb51e0afd2/main/src/mill/modules/Assembly.scala#L85

[2018-06-13 09:01] rockjam commented on #374
@megri What could be the other option? Actually, it takes directories into account too: https://github.com/lihaoyi/mill/blob/c7c91451435a113f61f3324eeb5024cb51e0afd2/main/src/mill/modules/Assembly.scala#L84

[2018-06-13 09:03] rockjam commented on #374
It would be awesome to have more of context here. Why assuming that every file is a jar file is a bad thing? Do you have a specific use-case where this breaks?

[2018-06-13 09:07] rockjam commented on #374
I guess the reasoning is here: https://gitter.im/lihaoyi/mill?at=5b20cb8aa0161836cb16f90e , right?

[2018-06-13 10:50] megri commented on #374
@rockjam Yes, sorry I should have been more specific. I'm still not sure if it is working as intended but @lihaoyi's reaction indicated that it wasn't.

[2018-06-13 11:01] benjaminfrank commented on #374
I agree that it would be nice if we could add individual files to resources instead of only folders.
Use case would be the generation of resources/assets where the generation creates more then just the final files, e.g. temp files. in this case simply adding the containing folder would also add the temp files or the task has to clean up.

[2018-06-14 00:02] lihaoyi commented on #374
It seems reasonable to be able to add individual files to an assembly. Two constraints:

- We need some way of differentiating files added as their jar-contents and files added as individual files. Looking for a `.jar` suffix would be a naive way of doing it, but would make it impossible to include a `.jar` file as a file inside another jar (e.g. maybe you don't want it on your classpath but want

[2018-06-15 03:43] lihaoyi commented on #374
Also, it would be nice to get rid of `createJar` and unify that code path with `createAssembly`, since they basically do the same thing except `createAssembly` can take upstream jars

[2018-06-19 11:43] nightscape opened #375 "Custom extension: Flyway migrations"
I've hacked together a Mill extension to do [Flyway](https://flywaydb.org) migrations:
https://gist.github.com/nightscape/3f25afa573424bb3de3cd4af6cf1b4f5
After understanding how spawning a new JVM and dependency resolution for modules works it was rather straight-forward.
Is there a page where custom extensions are gathered so that the wheel isn's reinvented too many times?
Also, should this thin

[2018-06-24 17:12] lihaoyi commented on #375
We're planning on putting together a `contrib/` folder in this repo so there's a place people can put contributed modules and collaborate on them, benefiting from the auto-publishing without worrying about backwards compatibility etc. (since it'll always be built on master). Once https://github.com/lihaoyi/mill/pull/325 lands that should be the canonical place to put possibly-reusable stuff like t

[2018-06-25 16:36] megri commented on #374
Would it make sense to have a separate task like `stageArtifacts` that puts "everything" in a place where it can later be picked up by stuff like `createAssembly`/`createJar`? Maybe it's still too coarse-grained to work reliably for every situation — it feels as if it would call for something like the configuration axes SBT uses to differentiate between various use-cases, if that makes any sense..

[2018-06-27 22:06] AndyDagnall opened #378 "Mill doesn't seem to work on Windows when the user's name starts with lowercase u"
There seems to be a problem caused by the fact that slash-u starts a Unicode escape sequence.
Here is a screen-grab:
![mill in cygwin screenshot](https://user-images.githubusercontent.com/40645623/42002262-89755084-7a5e-11e8-9ec1-20b695804756.png)

[2018-06-28 17:02] Mogztter commented on #324
I'm working on it :wink:
@rockjam Could you please assign it to me ?

Here's a work in progress: https://github.com/lihaoyi/mill/compare/master...Mogztter:playlib

Do you think we should move the Twirl Compiler inside a `playlib` module ?

[2018-06-28 19:04] rockjam commented on #324
@Mogztter for some reason I can't assign you. But I think it's enough that you mentioned that fact here.

[2018-07-01 02:51] lihaoyi commented on #378
This should be easy to fix using `pprint.apply(s: String)` rather than leaning on triple quotes :) if anyone wants to send a PR this is an easy one!

[2018-07-02 13:33] Mogztter commented on #324
Ok thanks.
@rockjam Do you have an opinion on "Do you think we should move the Twirl Compiler inside a playlib module ?" ?

[2018-07-06 22:04] Ichoran opened #380 "Easier out-of-the-box usage of Mill"
Right now, mill is quite easy to configure, but it takes more work out of the box than does sbt for the simplest projects.  I don't see that there should be any reason for this.

I suggest that we implement three things, if technically possible
1. A `new` command to set up a directory with a project (named `default` by default?)
2. The ability to interpret bare commands as `default.command` which

[2018-07-06 22:39] lihaoyi commented on #380
Sure

I'd like to avoid having a "search path" when looking for commands/tasks/modules - and maintain the invariant that every command corresponds deterministically to one thing it tries to run - but we can avoid that and still achieve the same goal: if there is a `object root extends mill.Module`, resolve all commands relative to the contents of that module, so e.g. `mill foo` will look for a `de

[2018-07-06 23:19] Ichoran commented on #380
I don't see how that is going to work without disabling `plan` and `resolve` and such (unless those turn into flags instead of named commands).

If you have a scheme to re-enable commands, then I think we're saying approximately the same thing except you prefer the name `root` to `default`, and you don't want the name to be configurable?

I'm not sure that the distinction between `bar.compile` mea

[2018-07-06 23:22] lihaoyi commented on #380
Perhaps could make it `object root extends MainModule`, to have it pick up `plan` and `resolve` and the rest of the builtins?

[2018-07-07 13:38] raskam commented on #277
While trying to port SBT project to Mill, I've just encountered the same issue with Mill 0.2.4 on Java 8. It seems to me that Mill is trying to link JVM libs instead of Scala.js ones.

Int the following example, the Scala.js implementation of `Instant.toString` does not use `DateTimeFormatter` (see https://github.com/scala-js/scala-js-java-time/blob/master/src/main/scala/java/time/Instant.scala),

[2018-07-07 13:49] raskam opened #381 "Assembly should fail/warn on duplicate files"
Now, duplicates not mentioned in `assemblyRules` are silently skipped, and only the first one is added to fatjar (probably in a random order?).

IMO Mill should throw an exception in such cases, as skipping some files and including other ones may result in an invalid fatjar without any user knowledge.

As a quick workaround, I've used following patch, which would fail on unresolved duplicates:

[c

[2018-07-07 13:52] raskam opened #382 "Assembly should not include scala sources & scaladoc"
Final fatjar now contains sources and scaladoc files of project dependencies which in my case increase fatjar size several times.

As a quick workaround I've used the following, but it's obviously not correct as it might exclude also files from resources that we want to keep in the final fatjar.

[code]

[2018-07-07 13:57] raskam commented on #352
In my case calling `mill __.ivyDeps` is not sufficient and I always have to remove `out` directory before running `mill mill.scalalib.GenIdea/idea`.

I also have to reopen the project in Idea, because sometimes Idea would still use old classpath.

[2018-07-07 14:11] raskam opened #383 "Assembly.defaultRules should exclude well-known temp files"
In my case, when I tried to assembly fatjar on my station, Mill included `.DS_Store` in the fatjars. It probably comes from project `resources` folder. Obviously this would not happen during production build on server, but the issue is probably more generic. Maybe only resources tracked by VCS should be added to the final fat-jar?

[2018-07-07 14:21] raskam commented on #331
This happened to me only the first time I generated Idea project with Mill. I fixed it by setting Java SDK and Scala SDK manually and since then GenIdea works as expected. It works properly even when I remove `.idea/`, `.idea_modules/` and `out/` directories, close Idea, regenrate Idea project and open it in Idea again. So I suspect that is is related to Idea caches outside the project root.

I'm

[2018-07-07 14:43] lihaoyi commented on #381
This is unlikely to become the default, but if you want you can add another case in https://github.com/lihaoyi/mill/blob/master/main/src/mill/modules/Assembly.scala#L23 to let yourself configure it to fail on duplicates

[2018-07-07 14:45] lihaoyi commented on #382
I'm not seeing it

[code]

Maybe you have something configured in a funny way?

[2018-07-07 14:49] lihaoyi commented on #383
I probably won't want to tie Mill to a VCS for now; maybe just filter out `.DS_STORE` from `resources/` yourself for now?

[2018-07-07 14:57] raskam commented on #381
Sure I can to that and will investigate it. But I still believe that it's reasonable to fail by default. Maybe not always, but at least when file contents of duplicate files differ. Is there some reason I'm missing, why not to do so? This strategy is also the default in sbt-assembly (https://github.com/sbt/sbt-assembly#merge-strategy).

[2018-07-07 15:02] raskam commented on #383
This is what I'm doing now. Do you want to include `.DS_STORE` and other commonly ignored files into the Mill codebase or should each end-project define it? There are already some default exclusions (.dsa, .rsa, ...) so it may be worth including others as well (e.g. taken from https://github.com/github/gitignore)

[2018-07-07 17:38] raskam commented on #382
Closing, this was caused by incorrectly published libraries by SBT (bug https://github.com/sbt/sbt/issues/3784). Sources + scaladoc were published in a `compile` ivy config, therefore all 3 jars were handled as scala code by Coursier and later by Mill.

[2018-07-07 17:38] #382 closed

[2018-07-07 18:14] raskam commented on #382
For future readers: If you use SBT 1.x to publish your libraries to ivy (e.g. `sbt publishLocal` uses ivy) then those published libraries won't work properly with Mill, SBT<0.13.17 and possibly other tools.

What does not work as expected
- fatjars contain javadoc + scala sources
- GenIdea generates Idea project with javadoc marked as Scala sources, which breaks some Idea functionality (autocomple

[2018-07-11 19:30] Ichoran commented on #380
@lihaoyi - I haven't looked at the code, but doesn't `MainModule` provide an alternate search path?  Or is everything else secretly loaded into `MainModule`?

Also, what is the logic behind what is a command and what is an `-option`?

[2018-07-19 16:51] carueda opened #385 "SbtModule: really SBT-compatible?"
Per [the documentation](http://www.lihaoyi.com/mill/page/common-project-layouts.html#sbt-compatible-modules), SbtModule allows to:

However, typically the existing SBT-based structure is:

That is, with `src/` at first level under the project directory.

Looking at gitter it seems this has in fact created some confusion.  Can the status of SbtModule be clarified please? Thanks!

[2018-07-19 18:08] DavidGregory084 commented on #385
That is the difference between the layout of a single module SBT project and a multi module layout. See the [SBT documentation](https://www.scala-sbt.org/1.x/docs/Multi-Project.html) for examples. It seems Mill supports the multi module layout because it is more flexible.

[2018-07-19 18:29] #385 closed

[2018-07-19 18:30] carueda commented on #385
OK! thanks

[2018-07-21 13:34] lihaoyi commented on #373
https://github.com/lihaoyi/mill/commit/57f4968e8c37c857e4c8d6cac80dca739186754d implements `JavaModule#runBackground`, which runs something in the background and only kills it the next time you call `runBackground` on the same module

[2018-07-22 07:46] lihaoyi commented on #373
Fixed in 0.2.5

[2018-07-22 07:46] #373 closed

[2018-07-22 07:46] lihaoyi commented on #142
Landed in 0.2.5

[2018-07-22 07:46] #142 closed

[2018-07-22 11:07] lihaoyi commented on #258
Fixed in 0.2.5

[2018-07-22 11:07] #258 closed

[2018-07-22 11:21] #314 closed

[2018-07-23 16:09] Ichoran opened #386 "Ammonite REPL won't compile correct code (implicit search problem)"
Given a build of

[code]

the following file at `Example/src/MissingReplicateA.scala` compiles:

[code]

as it should.  And you can run `word` in the REPL.  But if you paste the identical code into the REPL, it fails to find the implicit that enriches `State` with `replicateA`.  Transcript:

[code]

It doesn't matter whether the statements are bare or wrapped in an object as in the file that compi

[2018-07-25 04:09] freewind commented on #152
Actually, I think this is an issue more than a question, so I asked here

[2018-07-25 07:40] lihaoyi-databricks commented on #386
If this is an Ammonite bug, should we file it under the lihaoyi/ammonite repo?

[2018-07-25 16:35] Mogztter opened #387 "The publish task should display an error message when the user does not have a gpg secret key"
### Current output

[code]
[code]

**NOTE:** When using the interactive mode with the `-i` flag the error message is display:

[code]

### Expected output

[code]
[code]

We could go one step further and capture the error message from the `gpg`command line to help the user.

[code]

I think the user will also need to publish the key:
[code]

[2018-07-25 20:30] Ichoran commented on #386
I don't have time yet to figure out whether it is an ammonite bug or a consequence of something that `mill` is doing with dependency resolution.  It's not a blocking issue for me; I was only using cats for an example.  Someone else who needs it more might want to pick it up sooner.  Eventually I'll either verify that it's ammonite's fault, or post here evidence that it is not.

[2018-07-26 18:09] smarter opened #388 "Warnings coming from the compilation of the compiler bridge should be silenced"
Compiling the compiler bridge can produce warnings (to reproduce, first delete the cached one: `rm -rf out/mill/scalalib/ScalaWorkerModule/worker/dest/2.12.6/compiled/`):
[code]
These warnings should be silenced just like in sbt since there is nothing the user can do about them.

[2018-07-26 18:18] smarter opened #389 "The compiler bridge output should be invalidated in more cases"
Right now the compiler bridge generation is controlled by:
https://github.com/lihaoyi/mill/blob/436e5e21f526a8e9758bd11c8b9b221253d50663/scalalib/worker/src/mill/scalalib/worker/ScalaWorker.scala#L34-L36

There's several things missing compared to sbt here:
- The bridge is cached based only on the scala version, this isn't enough: for correctness, it should also include the classfile version (othe

[2018-07-26 23:44] lihaoyi commented on #389
this should bust all caches, due to https://github.com/lihaoyi/mill/blob/7898368fe809779e73ef1cd909f1b2e5de84e6c1/core/src/mill/eval/Evaluator.scala#L383

[2018-07-27 03:49] lihaoyi-databricks commented on #386
Seems like an Ammonite bug
[code]

[2018-07-27 03:51] lihaoyi commented on #386
https://github.com/lihaoyi/Ammonite/issues/new

[2018-07-27 03:51] #386 closed

[2018-07-27 14:39] smarter opened #392 "In interactive mode, don't print an exception when compilation fails"
Every time I have a compiler error, mill dumps a stack trace in red on my screen. This isn't useful: nothing crashed so there's nothing to debug, a compilation error is not exceptional when building code, it's the norm.

[2018-07-28 15:41] manuzhang commented on #385
Does it mean Mill doesn't support single module layout ?

[2018-08-03 02:16] #378 closed

[2018-08-03 10:03] DavidGregory084 commented on #375
@nightscape there is a contrib module [here](https://github.com/lihaoyi/mill/tree/master/contrib/scalapblib/src/mill/contrib/scalapblib) and documentation page [here](https://github.com/lihaoyi/mill/blob/master/docs/pages/9%20-%20Contrib%20Modules.md) now if you'd like to contribute your Flyway extension? 😃

[2018-08-05 08:38] smarter opened #399 "Rename MainModule#show to avoid conflict with Ammonite show?"
When using `mill -i`, I can't do `show(someExpression)` to avoid having the output truncated, I have to write  ammonite.repl.ReplBridge.value0.show(someExpression)`. This could be avoided if MainModule#show was renamed to something else.

[2018-08-05 09:14] smarter opened #400 "Rename {compile,run}IvyDeps to {compile,run}OnlyIvyDeps ?"
If I understand what they're doing correctly, that's a more precise and potentially less confusing description.

[2018-08-05 11:25] lihaoyi commented on #399
Would `repl.show` work? If not it should

[2018-08-05 14:04] smarter opened #401 "mill crashes when opening source file which is a broken symlink"
Not sure how to reproduce without using emacs but it looks like this:
[code]

[2018-08-05 14:04] smarter opened #402 "Do not compile hidden files"
If a file starts with a `.`, it shouldn't be compiled, even if it ends with `.scala`. This matches the behavior of sbt and is pretty important for correctness since emacs likes to create backup files `.#Foo.scala`.

[2018-08-05 14:27] smarter commented on #383
How about excluding all hidden files by default ? (Does sbt-assembly do that?)

[2018-08-05 14:28] lihaoyi commented on #401
looks like Mill is blowing up computing the folder-content-signature with the broken symlink. That can probably be seen as a bug in Mill: if you want to make your build deal with folders with broken symlinks, Mill shouldn't be the one to stop you.

Not sure what the proper solution here is - whether we should ignore the symlink, treat them as symbolic (open and look at relative path of the link???

[2018-08-08 13:20] rhyskeepence opened #405 "Deadlock when worker JVM cannot be started"
I've just started porting a sbt build to mill. From what's I've seen so far, it is awesome. However I noticed when I upgraded from 0.2.0 to 0.2.6 that my build began to deadlock, at mill.main.client.MillClientMain.run(MillClientMain.java:118).

Looking 'out/mill-worker-1/logs', the root cause appears to be that -XX:VMOptionsFile is not supported by oracle's java 8.

It would be nice if:
- java 8 i

[2018-08-12 16:29] lihaoyi opened #407 "Crash when trying to compile twirl templates?"
[code]

[2018-08-13 09:18] seieewkx opened #408 "Configurable server timeout"
`mill` is the **fastest** Scala compiler I find. I have a special requirement for Scala compilation.
The code need to be compiled is very small, around 100 line of code. I need it compile **as fast as possible**.
If the `mill` server(daemon) is alive, The compilation needs 2.x seconds. And after 5mins, the server(daemon) dead, it needs 16 seconds.
I want the compilation always be **as fast as poss

[2018-08-16 21:32] dbuschman7 commented on #324
@Mogztter Is there still progress happening on this?

[2018-08-16 22:15] Mogztter commented on #324
Yes I will open a pull request in the next few days (still a work in progress though)

[2018-08-16 23:30] dbuschman7 commented on #324
Ok, I can help in a few days to get it "over the line" if needed.

I know I will need multiple routes files to be added for one of my apps.

[2018-08-17 14:37] lihaoyi commented on #407
@Mogztter any idea what this is?

[2018-08-17 14:57] alexarchambault commented on #407
@lihaoyi `object scala in compiler mirror not found.` might be indicative of a classpath issue. If you have a test repo reproducing that issue, I'd be interested in checking if it's not a coursier issue…

[2018-08-17 15:02] lihaoyi commented on #407
@alexarchambault the code block above shows the contents of all files and the command necessary to reproduce

[2018-08-17 16:42] Mogztter commented on #407
@lihaoyi Are you using Java8 ? Java9 ?
I will try to reproduce this issue.

[2018-08-17 17:05] Mogztter commented on #407
I think the Scala library is missing from the classloader used to load the class `TwirlCompiler`.
https://github.com/playframework/twirl/blob/1d7c603352510809908d155393651748cc601e5e/compiler/src/main/scala/play/twirl/compiler/TwirlCompiler.scala#L507

At this line, we can see that the `TwirlCompiler` is using `scala.tools.nsc.interactive.Global`.

[2018-08-19 14:40] sep2 commented on #331
great, thx for the message, save me a lot of time.

[2018-08-19 14:49] crimzie opened #410 "Support for webpack in Scala.js modules."
Some libraries targeting Scala.js require the 'sbt-scalajs-bundler' sbt plugin in dependent projects, because they themselves depend on npm packages. To use this kind of libraries with mill one has to bundle those javascript dependencies by either applying webpack by hand, or by writing some automation, and both ways that takes deep knowledge of npm, webpack, and scala.js intricacies.

It would be

[2018-08-19 16:03] Mogztter commented on #407
I tried to add the following dependency in the `twirlClasspath` function but without success:

[code]

I've built a local version of `mill` using the procedure described in the README and I've noticed that the dependency is `mill-contrib-twirllib` instead of `mill-twirllib`:

[code]

Anyway it's not working. Some people on Stackoverflow mention the settings `settings.usejavacp.value = true` but I'

[2018-08-19 17:56] Mogztter commented on #407
I've noticed that the `TwirlCompiler` class is using the following code to locate classes/sources code:

[code]

When running the test suite the return value is something like `file:/path/to/Library/Caches/Coursier/v1/https/repo1.maven.org/maven2/org/scala-lang/scala-library/2.12.6/scala-library-2.12.6.jar <no signer certificates>`.

But when running the `mill` command the return value is `file:/p

[2018-08-19 18:28] alexarchambault commented on #407
If that's of any help, as a workaround, running mill via coursier fixes that
[code]
(because `coursier launch` relies on standard jars, like in the tests, rather than a fat jar)

[2018-08-21 04:28] jkstrauss commented on #360
@MikaelMayer I made a simple test branch to demonstrate using T.sources with a single file, and it seems to work. Please checkout (https://github.com/jkstrauss/mill/tree/sourcesSingle), and see if you can reproduce the problem.

Make sure the working directory is `scratch`.

This is what I am getting using `--watch` and `touch`ing the source file, so it looks like everything is working as you want

[2018-08-22 10:39] lihaoyi commented on #407
Fixed in https://github.com/lihaoyi/mill/commit/b29c13d9010f9405de04c471fc4c8ba816606fbc

[2018-08-22 10:39] #407 closed

[2018-08-22 10:40] lihaoyi commented on #410
Feel free to send a PR adding such a module to `contrib/`!

[2018-08-22 13:04] crimzie commented on #410
👌

[2018-08-27 01:12] antonkulaga commented on #277
the bug is still valid with 0.26

[2018-08-28 01:54] vic commented on #402
A [workaround](https://gitter.im/lihaoyi/mill?at=5ad6cd801130fe3d36eb7655) currently is to ignore the those temporary files by adding something like the following to your module:

[code]

[2018-08-28 02:59] jkstrauss commented on #402
I would be willing to work on this for a permanent solution. Do we have a consensus that ignoring hidden files is a reasonable default?

[2018-08-28 08:11] smarter opened #417 "Share build cache between mill and mill --repl"
In the mill build, if I run `mill main.compile` in a clean state I get:
[code]

And when I subsequently run `mill -i` I get:
[code]

It should be possible to reuse the compilation output of the common compiled files, according to @lihaoyi on Gitter:

[2018-08-28 08:26] smarter opened #418 "Make it easier to use show/inspect/... from the REPL"
Right now it's a bit awkward:
[code]
It'd be nicer if we could do:
[code]
Or even:
[code]

(It would also be nice to avoid the extra `()` but that's a separate issue)

The first should be achievable by having the evaluator implicitly available in scope and changing the signature of show/inspect/... to take the evaluator implicitly. @lihaoyi on Gitter said:

[2018-08-28 16:32] smarter commented on #402
While you're at it, I think we should drop hidden files from assembly too: https://github.com/lihaoyi/mill/issues/383#issuecomment-410523802

[2018-08-29 14:56] MikaelMayer commented on #360
I re-tested `T.sources` on a single file and now it works.
I don't know what used to go wrong at the time.
Thanks for reporting that it works.

[2018-08-29 14:56] #360 closed

[2018-08-30 04:56] seieewkx opened #420 "mill compile return the wrong return code."
We use `mill` to compile java/scala code in our project, because it's the fastest building tool.

Our project depends on the correct return code of the compiler, we find that in some special situation, `mill` compile return the wrong code. I have created a minimal demo for this error.

https://github.com/seieewkx/mill_compile_bug_demo/tree/master

Thank you very much!
Looking forward to your reply

[2018-08-31 04:46] lihaoyi commented on #418
This can probably be done most easily by changing the code wrapper template to wrap the expression in an additional e.g. `evalTask(...)` call, which would leave `T <!< Task`s alone and evaluate `T <:< Task`s the same way that `()` does so

[2018-08-31 04:50] lihaoyi commented on #418
although it might still require patching ammonite's `Preprocessor.scala` to provide to appropriate hook for us to do this wrapping, since we may need to wrap at an expression level rather than at a block level so e.g. `main.compile; main.test` properly evaluates both tasks and stores their results in local bindings.

Apart from `inspect` and `show`, this would make working with the rest of Mill's

[2018-08-31 20:46] vic commented on #344
@antonkulaga how are you running a single ScalaTest ?

[2018-08-31 20:48] vic commented on #303
There's currently an experimental plugin at https://github.com/yyadavalli/mill-ensime I've been using it with emacs.

[2018-09-02 14:57] aosagie commented on #420
I couldn't reproduce. I get "1" as expected.
![screenshot from 2018-09-02 10-49-39](https://user-images.githubusercontent.com/1888108/44957294-b89a8400-ae9e-11e8-8831-155dae427661.png)

What's your java version, shell and OS?

[2018-09-02 22:41] vic opened #424 "environment variables on `repl` command."
The `repl` command should be able to use `forkEnv` or similar to send environment variables to the interactive subprocess.

I noticed the code for repl is actually ready for this, it's just currently not sending any `envArgs`.

At the moment I'm overriding it on my project with something like:

[code]

Does it make sense to use `forkEnv` ?

I'd be happy to work on a patch for this if this looks li

[2018-09-03 02:39] seieewkx commented on #420
Thanks for reply.

**OS**: ubuntu16.04
**Shell**: zsh (in the picture blow), I can reproduce this on bash too.
**java**:
[code]
**mill**:  `0.2.6`

![image](https://user-images.githubusercontent.com/5382732/44964846-201b0700-af65-11e8-933a-c5bf22fb4550.png)

[2018-09-03 02:43] seieewkx commented on #420
I don't know why there is an extra `Connection reset by peer` error at the end of `mill foo.compile` error log. I rerun the compilation, the error exists, but the `Connection reset by peer` disappears.
![image](https://user-images.githubusercontent.com/5382732/44964982-e5fe3500-af65-11e8-8a37-5fe6e00cdc21.png)

[2018-09-03 17:29] rockjam opened #426 "Change path serialization format"
Currently, path ref serializes to the following string:
[code]
but sometimes it's useful to use a result of the task that returns path. For instance:
`mill root.assembly | xargs -I {} cp {} ~/dist/out.jar`

Is it okay if we change a path ref format to the following one, so we can use json tools to parse output?
[code]

[2018-09-05 04:10] #402 closed

[2018-09-05 04:33] vic commented on #401
Fixed in master now, we should close this.

[2018-09-05 05:01] #401 closed

[2018-09-06 21:32] davoclavo commented on #344
This is not an ideal solution, but a current workaround is to run the specs via the repl. e.g.

[code]

In the repl:
[code]

[2018-09-08 12:59] lihaoyi commented on #426
I think we should stick with the current syntax; I explicitly changed it to the current syntax from the proposed syntax a while ago.

While JSON parsing output is convenient, human readability is important too, and using the proposed syntax makes the output take 5x as many lines and commands like `allSources` or `compileClasspath` impossible to skim visually.

[2018-09-08 12:59] #426 closed

[2018-09-08 16:58] rockjam commented on #426
I understand the motivation. One more thing - current output format isn't convenient to copy-paste either. If it was a simple path, starting with `/`, I would double click the output string in terminal and paste right there, but in current the format I have to select some part of the path, or copy the whole thing and clean out all before `/`. It's a small thing, but useful(for me at least)

[2018-09-11 04:09] lihaoyi commented on #424
sure it makes sense, send a pr

[2018-09-11 04:09] lihaoyi commented on #408
should be easy, send a PR

[2018-09-11 14:12] jameskoch2 opened #430 "Error generating Ammonite IntelliJ project"
mill 0.2.7
Ammonite @ 6d84a9bf7f7199fc06e527e9ec3c1971ec3ce452

[code]

[2018-09-12 21:59] vic opened #431 "modules not defined on `mill -i` when using multiple compilation units on build.sc."
Running `mill -i` should let you autocomplete and be able to invoke tasks on your project modules. This however only seems to work on the first compilation unit inside the the `build.sc` file.

For example, having the following build.sc file:

[code]

and then when running `mill -i`, `bar` is available but `foo` is not. I think either both should be available or at least the modules from the last

[2018-09-15 03:59] lihaoyi commented on #430
Should be worked around in the latest Ammonite master

[2018-09-15 03:59] #430 closed

[2018-09-15 04:04] lihaoyi opened #432 "Should T.sources enforce uniqueness?"
Currently it's defined as

[code]

We could remove duplicates automatically by changing it to `extends Input[Loose.Agg[PathRef]`, or blow up on duplicate values via `extends Input[Strict.Agg[PathRef]`.

One of these seems like a reasonable way to enforce the uniqueness constraint; I don't think anyone needs duplicate source paths in their sources list, and if they really-truly need it they can alw

[2018-09-20 17:24] bbarker opened #436 "Escape characters for e.g. colors not handled properly for dumb terminals"
This results in output sort of like this:

[code]

Since I'm probably using a dumb terminal from time to time, I wouldn't mind trying to take a stab at this, but pointers welcome.

Currently known `TERM` values that should be supported are `dumb` and `win`.

[2018-09-20 17:54] bbarker commented on #436
It looks like there is a `--color` option, but when I use it, I don't see *any* output; it seems that output isn't generated as I would expect either as `out` is sparsely populated compared to usual; compare:

[code]

At least, once this step is addressed, it should be relatively simple to detect `$TERM` and route it to the appropriate configuration.

[2018-09-20 17:58] bbarker commented on #436
`mill -i` seems to exit prematurely when given `--color` as well.

[2018-09-22 17:06] bledari commented on #405
I was following the getting started and this issue made me see the logs

[2018-09-23 09:44] lihaoyi commented on #436
[code]
?

[2018-09-23 13:48] #436 closed

[2018-09-24 17:37] bbarker commented on #436
[code]

[2018-09-28 02:53] bbarker opened #440 "Publishing to subgroups"
I may have identified a bug, though as always, more likely a user error. When the org/groupId is set to `w.x.y.z` in the `build.sc` file and I own the groupId `w.x.y` on Maven/Sontatype/whatever.

I'm getting this error now: `Could not find staging profile for groupId: edu.cornell.ncrn.ced2ar`. I've uploaded to this groupId before using maven/pom, but the issue might be that the top level groupId

[2018-09-28 14:56] bbarker commented on #440
I had it backwards, this is fixed by #441

[2018-09-28 16:30] nh13 opened #442 "ScalafmtModule hardcodes scala version"
https://github.com/lihaoyi/mill/blob/146d58bc5d98da1d142758f974d4d5de6f5948bf/scalalib/src/mill/scalalib/scalafmt/ScalafmtModule.scala#L27

I suppose we could have `ScalafmtModule` extend `ScalaModule` and use `scalaVersion()`?

My use case is trying to use `def scalafmtVersion = "1.6.0-RC4"`, which requires scala `2.12.6`, as well as overriding `scalafmtDeps` as follows to include the reflect lib

[2018-09-28 16:32] nh13 commented on #442
It would also be nice to have scalafmt run on compile, like in sbt.

[2018-09-29 03:06] argv-minus-one opened #443 "Why is the default folder layout different from Maven/SBT?"
I notice that Mill defines its own folder layout for Java/Scala projects (in `JavaModule`), and although [the folder layout conventionally used in Java/Scala projects](https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html) can be used by extending `MavenModule`, that is not the default. Mill's documentation [describes its preferred folder layout](http://ww

[2018-09-29 03:48] lihaoyi commented on #443
This is not an issue; discussion goes in the gitter channel

[2018-09-29 03:48] #443 closed

[2018-10-02 07:08] raould opened #445 "how to build mixed repo?"
hi, how do I build a project that has java and scala sources?

[2018-10-02 07:09] raould commented on #445
maybe this is the answer? https://github.com/lihaoyi/mill/issues/145#issuecomment-368250357

i suggest putting this kind of info up front in the documentation.

[2018-10-02 12:55] TheElectronWill commented on #445
Have you tried to put java+scala in the same place (i.e. `src` folder) ?

[2018-10-03 20:17] bbarker opened #447 "feature request/discussion: add war file assembly support"
Unless my grepping failed me, it doesn't appear to be supported. This isn't something I immediately need, but would be good to have at some point. Perhaps code from sbt can be ported?

[2018-10-03 21:01] nightscape commented on #447
There was a PR for it, the original author mentioned that there will be a new PR:
https://github.com/lihaoyi/mill/pull/321

[2018-10-03 21:36] bbarker commented on #277
@antonkulaga so I checked out your repo (after noticing one of my own monadic-html repos seemed to compile with fastOpt) and it semes to build; just to confirm, I assume this issue is only happening on Java 10 for you atm? I'm still a dinosaur stuck with Java 8. Though I'm not sure why @raskam has issues with Java 8.

[2018-10-03 21:55] raskam commented on #277
@bbarker Maybe my issue was related to something else (probably corrupt caches) as I don't remember experiencing it again while testing mill.

[2018-10-04 13:44] benjaminfrank commented on #447
yes, I have a working student that created code for war files and distzip but I will needs to go over the code before I can open a proper PR here.
I hope I will be able to do it this weekend

[2018-10-04 21:59] jackkoenig opened #448 "Weird behavior with abstract class arguments"
New to mill so apologies if I'm just being stupid, but I have observed some strange behavior. Given the following `build.sc`

[code]

And some trivial `foo/src/Main.scala`:
[code]

`foo` is not detected as a Module by `mill`, but `FooModule` is:
[code]

Is this intended behavior?

[2018-10-04 23:18] julianmichael commented on #448
More details: running `mill show FooModule.scalaVersion` prints `"2.12.4"`, so this seems that mill sees `foo` but gives it the wrong name. Furthermore, add `object foo2 extends FooModule("2.12.6")` and `mill resolve _` prints `FooModule` twice, while running `mill show FooModule.scalaVersion` still prints `"2.12.4"`.

[2018-10-05 00:06] lihaoyi commented on #448
This is somewhat intended; in general, you should avoid abstract/non-abstract classes and stick to traits. If you want to use abstract/non-abstract classes, there's some fiddliness with the implementation details that's somewhat unavoidable

[2018-10-05 06:20] #448 closed

[2018-10-05 11:12] lefou opened #451 "mill inspect does not properly parse one-line comment"
E.g. the following command:

[code]

will print the comment end delimiter `*/` at the end of the command description.

`mill inspect build` will show:

[code]

[2018-10-05 12:46] #445 closed

[2018-10-05 15:31] bbarker commented on #440
Fixed in #441

[2018-10-05 15:31] #440 closed

[2018-10-05 20:41] lefou opened #452 "documentation site: links don't work"
The links for commands (all, inspect, resolve, show) on http://www.lihaoyi.com/mill/page/extending-mill.html#evaluator-commands don't point to an existing page.